<%= simple_form_for message do |f| %>
  <div class="heading-form">
    <%= f.input :first_name, required: true, class:"first_name" %>
    <%= f.input :last_name, required: true, class:"last_name"%>
  </div>
  <div class="detail-form">
    <%= f.input :email, required: true ,class:"email_form" %>
    <%= f.input :phone, class:"phone_form" %>
  </div>
  <div class="message-form">
    <%= f.input :message %>
  </div>
    <%= f.submit "SEND", class:"btn-form", remote: true%>
<% end %>
<% flash.each do |type, msg| %>
  <% if type == 'notice' %>
    <div class="alert alert-success">
      <%= msg %>
    </div>
  <% else %>
    <div class="alert alert-danger">
      <%= msg %>
    </div>
  <% end %>
<% end %>
  