<header>
  <%= link_to root_path do %>
    <h3 class="name-heading">MEEHIR <span>PATEL</span></h3>
  <% end %>
  <h1 class="big-title translate" data-speed="0.25 ">WELCOME.</h1>
    <%= cl_image_tag("personal-profile/hill1_min_min.png", class: "hill1 translate", data: {speed:"0.13"})%>
    <%= cl_image_tag("personal-profile/hill2minmin.png", class: "hill2 translate", data: {speed:"0"})%>
    <%= cl_image_tag("personal-profile/mountain1_min_min.png", class: "mountain1 translate", data: {speed:"-0.05"})%>
    <%= cl_image_tag("personal-profile/mountain2_min_min.png", class: "mountain2 translate", data: {speed:"-0.2"})%>
    <%= cl_image_tag("personal-profile/sky_min_min.png", class: "sky translate", data: {speed:"0.5"})%>
</header>