<div class="section-three" id="portfolio">

  <div class="portfolio-header" >
    <svg width="761" height="152" viewBox="0 0 761 152" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M145.743 54.4468V150.327H119.087V97.4228L100.999 150.327H78.695L60.471 97.0148V150.327H33.815V54.4468H66.047L90.119 116.735L113.647 54.4468H145.743ZM252.853 54.4468L219.125 119.863V150.327H192.333V119.863L158.605 54.4468H189.069L205.933 91.4388L222.797 54.4468H252.853ZM431.635 54.4468L408.107 150.327H375.331L362.139 91.5748L348.675 150.327H315.899L292.643 54.4468H321.475L332.627 119.999L347.723 54.4468H376.963L391.651 119.455L402.803 54.4468H431.635ZM493.675 151.279C484.699 151.279 476.448 149.193 468.923 145.023C461.397 140.761 455.413 134.913 450.971 127.479C446.619 119.953 444.443 111.476 444.443 102.047C444.443 92.6174 446.619 84.1854 450.971 76.7508C455.413 69.2254 461.397 63.3774 468.923 59.2068C476.448 55.0361 484.699 52.9508 493.675 52.9508C502.741 52.9508 510.992 55.0361 518.427 59.2068C525.952 63.3774 531.891 69.2254 536.243 76.7508C540.595 84.1854 542.771 92.6174 542.771 102.047C542.771 111.476 540.595 119.953 536.243 127.479C531.891 134.913 525.952 140.761 518.427 145.023C510.901 149.193 502.651 151.279 493.675 151.279ZM493.675 126.527C500.475 126.527 505.824 124.305 509.723 119.863C513.712 115.42 515.707 109.481 515.707 102.047C515.707 94.4308 513.712 88.4468 509.723 84.0948C505.824 79.6521 500.475 77.4308 493.675 77.4308C486.784 77.4308 481.389 79.6521 477.491 84.0948C473.592 88.4468 471.643 94.4308 471.643 102.047C471.643 109.572 473.592 115.556 477.491 119.999C481.389 124.351 486.784 126.527 493.675 126.527ZM608.065 150.327L589.025 114.967H586.169V150.327H559.513V54.4468H601.537C609.244 54.4468 615.772 55.8068 621.121 58.5268C626.471 61.1561 630.505 64.8281 633.225 69.5428C635.945 74.1668 637.305 79.3801 637.305 85.1828C637.305 91.7108 635.492 97.4681 631.865 102.455C628.329 107.351 623.116 110.841 616.225 112.927L637.849 150.327H608.065ZM586.169 96.7428H599.361C602.988 96.7428 605.708 95.8814 607.521 94.1588C609.335 92.4361 610.241 89.9428 610.241 86.6788C610.241 83.5961 609.289 81.1934 607.385 79.4708C605.572 77.6574 602.897 76.7508 599.361 76.7508H586.169V96.7428ZM710.899 150.327L680.843 108.303V150.327H654.187V54.4468H680.843V95.7908L710.627 54.4468H741.363L706.139 100.959L743.131 150.327H710.899Z" fill="url(#paint0_linear)"/>
      <path d="M135.743 54.4468V150.327H109.087V97.4228L90.999 150.327H68.695L50.471 97.0148V150.327H23.815V54.4468H56.047L80.119 116.735L103.647 54.4468H135.743ZM242.853 54.4468L209.125 119.863V150.327H182.333V119.863L148.605 54.4468H179.069L195.933 91.4388L212.797 54.4468H242.853ZM421.635 54.4468L398.107 150.327H365.331L352.139 91.5748L338.675 150.327H305.899L282.643 54.4468H311.475L322.627 119.999L337.723 54.4468H366.963L381.651 119.455L392.803 54.4468H421.635ZM483.675 151.279C474.699 151.279 466.448 149.193 458.923 145.023C451.397 140.761 445.413 134.913 440.971 127.479C436.619 119.953 434.443 111.476 434.443 102.047C434.443 92.6174 436.619 84.1854 440.971 76.7508C445.413 69.2254 451.397 63.3774 458.923 59.2068C466.448 55.0361 474.699 52.9508 483.675 52.9508C492.741 52.9508 500.992 55.0361 508.427 59.2068C515.952 63.3774 521.891 69.2254 526.243 76.7508C530.595 84.1854 532.771 92.6174 532.771 102.047C532.771 111.476 530.595 119.953 526.243 127.479C521.891 134.913 515.952 140.761 508.427 145.023C500.901 149.193 492.651 151.279 483.675 151.279ZM483.675 126.527C490.475 126.527 495.824 124.305 499.723 119.863C503.712 115.42 505.707 109.481 505.707 102.047C505.707 94.4308 503.712 88.4468 499.723 84.0948C495.824 79.6521 490.475 77.4308 483.675 77.4308C476.784 77.4308 471.389 79.6521 467.491 84.0948C463.592 88.4468 461.643 94.4308 461.643 102.047C461.643 109.572 463.592 115.556 467.491 119.999C471.389 124.351 476.784 126.527 483.675 126.527ZM598.065 150.327L579.025 114.967H576.169V150.327H549.513V54.4468H591.537C599.244 54.4468 605.772 55.8068 611.121 58.5268C616.471 61.1561 620.505 64.8281 623.225 69.5428C625.945 74.1668 627.305 79.3801 627.305 85.1828C627.305 91.7108 625.492 97.4681 621.865 102.455C618.329 107.351 613.116 110.841 606.225 112.927L627.849 150.327H598.065ZM576.169 96.7428H589.361C592.988 96.7428 595.708 95.8814 597.521 94.1588C599.335 92.4361 600.241 89.9428 600.241 86.6788C600.241 83.5961 599.289 81.1934 597.385 79.4708C595.572 77.6574 592.897 76.7508 589.361 76.7508H576.169V96.7428ZM700.899 150.327L670.843 108.303V150.327H644.187V54.4468H670.843V95.7908L700.627 54.4468H731.363L696.139 100.959L733.131 150.327H700.899Z" fill="white"/>
      <defs>
      <linearGradient id="paint0_linear" x1="385.095" y1="61.6678" x2="385.095" y2="148.594" gradientUnits="userSpaceOnUse">
      <stop stop-color="#D59FFF"/>
      <stop offset="1" stop-color="#00759A"/>
      </linearGradient>
      </defs>
    </svg>
    <div class="border-header border-proj-header"></div>
  </div>

  <div class="portfolio-overview">
    <%= link_to "https://youtu.be/lmQx0AHFbuA?t=1995", target: :_blank do  %>
      <div class="project project-one">
        <div class="project-header">
          <h3>PROJECT #1</h3>
          <div class="stackuse">
            <%= cl_image_tag("ruby_icon.png", class:"stack-icon") %>
            <%= cl_image_tag("rails_icon.png", class:"stack-icon") %>
            <%= cl_image_tag("javascript_icon.png", class:"stack-icon") %>
            <%= cl_image_tag("heroku_icon.png", class:"stack-icon") %>
            <%= cl_image_tag("postgresql_icon.png", class:"stack-icon") %>
          </div>
        </div>
        <div class="project-info">
          <div class="project-arrow">
            <h2 id="dish-advisor">DISH ADVISOR</h2>
            <svg width="70" height="65" viewBox="0 0 50 45" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2269 0.368774H1.62486C0.337864 0.368774 -0.429136 1.80277 0.284864 2.87277L12.4939 21.1858C12.8539 21.7268 12.8539 22.4318 12.4939 22.9728L0.284864 41.2868C-0.429136 42.3568 0.337864 43.7908 1.62486 43.7908H12.2269C12.7659 43.7908 13.2689 43.5218 13.5669 43.0738L26.9679 22.9728C27.3279 22.4318 27.3279 21.7268 26.9679 21.1858L13.5669 1.08677C13.2689 0.638774 12.7659 0.368774 12.2269 0.368774ZM33.9389 0.368774H23.3359C22.0489 0.368774 21.2819 1.80277 21.9959 2.87277L34.2049 21.1858C34.5649 21.7268 34.5649 22.4318 34.2049 22.9728L21.9959 41.2868C21.2819 42.3568 22.0489 43.7908 23.3359 43.7908H33.9389C34.4769 43.7908 34.9799 43.5218 35.2779 43.0738L48.6789 22.9728C49.0389 22.4318 49.0389 21.7268 48.6789 21.1858L35.2779 1.08677C34.9799 0.638774 34.4769 0.368774 33.9389 0.368774Z" fill="white"/>
            </svg>
          </div>
          <div class="border-project border-proj-one"></div>
        </div>
      </div>
    <% end %>
    
    <%= link_to "https://youtu.be/WdkeCN66fQI", target: :_blank do %>
      <div class="project project-two">
        <div class="project-header">
          <h3>PROJECT #2</h3>
          <div class="stackuse">
            <%= cl_image_tag("ruby_icon.png", class:"stack-icon") %>
            <%= cl_image_tag("rails_icon.png", class:"stack-icon") %>
            <%= cl_image_tag("javascript_icon.png", class:"stack-icon") %>
            <%= cl_image_tag("heroku_icon.png", class:"stack-icon") %>
            <%= cl_image_tag("postgresql_icon.png", class:"stack-icon") %>
            <%= cl_image_tag("bootstrap_icon.png", class:"stack-icon") %>
          </div>
        </div>
        <div class="project-info">
          <div class="project-arrow">
            <h2 id="tropic-hot">TROPIC LIKE IT'S HOT</h2>
            <svg width="70" height="65" viewBox="0 0 50 45" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2269 0.368774H1.62486C0.337864 0.368774 -0.429136 1.80277 0.284864 2.87277L12.4939 21.1858C12.8539 21.7268 12.8539 22.4318 12.4939 22.9728L0.284864 41.2868C-0.429136 42.3568 0.337864 43.7908 1.62486 43.7908H12.2269C12.7659 43.7908 13.2689 43.5218 13.5669 43.0738L26.9679 22.9728C27.3279 22.4318 27.3279 21.7268 26.9679 21.1858L13.5669 1.08677C13.2689 0.638774 12.7659 0.368774 12.2269 0.368774ZM33.9389 0.368774H23.3359C22.0489 0.368774 21.2819 1.80277 21.9959 2.87277L34.2049 21.1858C34.5649 21.7268 34.5649 22.4318 34.2049 22.9728L21.9959 41.2868C21.2819 42.3568 22.0489 43.7908 23.3359 43.7908H33.9389C34.4769 43.7908 34.9799 43.5218 35.2779 43.0738L48.6789 22.9728C49.0389 22.4318 49.0389 21.7268 48.6789 21.1858L35.2779 1.08677C34.9799 0.638774 34.4769 0.368774 33.9389 0.368774Z" fill="white"/>
            </svg>
          </div>
          <div class="border-project border-proj-two"></div>
        </div>
      </div>
    <% end %>
    
    <%= link_to "#" do  %>
      <div class="project project-three">
        <div class="project-header">
          <h3>PROJECT #3</h3>
          <div class="stackuse">
            <%= cl_image_tag("ruby_icon.png", class:"stack-icon") %>
            <%= cl_image_tag("javascript_icon.png", class:"stack-icon") %>
            <%= cl_image_tag("heroku_icon.png", class:"stack-icon") %>
            <%= cl_image_tag("figma_icon.png", class:"stack-icon") %>
            <%= cl_image_tag("photoshop_icon.png", class:"stack-icon") %>
            <%= cl_image_tag("spline_icon.png", class:"stack-icon") %>
          </div>
        </div>
        <div class="project-info">
          <div class="project-arrow">
            <h2 id="this-site">THIS WEBSITE</h2>
            <svg width="70" height="65" viewBox="0 0 50 45" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2269 0.368774H1.62486C0.337864 0.368774 -0.429136 1.80277 0.284864 2.87277L12.4939 21.1858C12.8539 21.7268 12.8539 22.4318 12.4939 22.9728L0.284864 41.2868C-0.429136 42.3568 0.337864 43.7908 1.62486 43.7908H12.2269C12.7659 43.7908 13.2689 43.5218 13.5669 43.0738L26.9679 22.9728C27.3279 22.4318 27.3279 21.7268 26.9679 21.1858L13.5669 1.08677C13.2689 0.638774 12.7659 0.368774 12.2269 0.368774ZM33.9389 0.368774H23.3359C22.0489 0.368774 21.2819 1.80277 21.9959 2.87277L34.2049 21.1858C34.5649 21.7268 34.5649 22.4318 34.2049 22.9728L21.9959 41.2868C21.2819 42.3568 22.0489 43.7908 23.3359 43.7908H33.9389C34.4769 43.7908 34.9799 43.5218 35.2779 43.0738L48.6789 22.9728C49.0389 22.4318 49.0389 21.7268 48.6789 21.1858L35.2779 1.08677C34.9799 0.638774 34.4769 0.368774 33.9389 0.368774Z" fill="white"/>
            </svg>
          </div>
          <div class="border-project border-proj-three"></div>
        </div>
      </div>
    <% end %>

  </div>
  
</div>