<div class="wrapper-position">

    <%# <div class="preload">
      <div class="box"> %>
        <%# <div class="b b1"></div>
        <div class="b b2"></div> %>
        <%# <div class="b b3"></div>
        <div class="b b4"></div>
        <div class="b b5"></div>
        <div class="b b6"></div>
        <h1>LOADING. . .</h1>
        <h1 class="invis">IT'LL BE WORTH THE WAIT!</h1>
      </div>
    </div> %>

    <nav>
      <div class="container">
        
        <%# <div class="hamburger-menu">
          <div class="bar"></div>
        </div> %>
        <div class="section-nav">
          
          <h3 >MEEHIR <span>PATEL</span></h3>
          <%= link_to "PORTFOLIO", root_path(anchor:'portfolio'), data: { turbolinks: false } %>
          <%= link_to "SKILLS", root_path(anchor:'skills'), data: { turbolinks: false } %>
          <%= link_to "SERVICES", root_path(anchor:'services'), data: { turbolinks: false } %>
          <%= link_to "ABOUT ME", root_path(anchor:'aboutme'), data: { turbolinks: false } %>
          <h3 id="hire-button">HIRE ME</h3>
        </div>
      </div>
    </nav>

    <h1 class="big-title translate" data-speed="0.25 ">WELCOME.</h1>

<%# Section 1 - Banner %>
    <header>
      <%= cl_image_tag("personal-profile/hill1_min_banner.png", class: "hill1 translate", data: {speed:"0.13"})%>
      <%= cl_image_tag("personal-profile/hill2-min_ynxfxm.png", class: "hill2 translate", data: {speed:"0"})%>
      <%= cl_image_tag("personal-profile/mountain1_sgfyrp.png", class: "mountain1 translate", data: {speed:"-0.05"})%>
      <%= cl_image_tag("personal-profile/mountain2_mpmfnn.png", class: "mountain2 translate", data: {speed:"-0.2"})%>
      <%= cl_image_tag("personal-profile/sky_spj6dq.png", class: "sky translate", data: {speed:"0.5"})%>
    </header>

<%# Section 2 - Intro %>
    <div class="section">
      <div class="shadow"></div>
      <div class="container intro-banners">
        <%= cl_image_tag("personal-profile/Stack_1_ualzdm.png", class: "top-stack slide-in")%>
        <%= cl_image_tag("personal-profile/Stack_2_lzb2ng.png", class: "second-stack")%>
        <%= cl_image_tag("personal-profile/Stack_3_af5fd3.png", class: "third-stack")%>
        <%= cl_image_tag("personal-profile/Stack_4_bsf6xo.png", class: "fourth-stack")%> 
      </div>
    </div>

<%# Section 3 - Portfolio %>
    <div class="section-three" id="portfolio">

      <div class="portfolio-header" >
        <svg width="761" height="152" viewBox="0 0 761 152" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M145.743 54.4468V150.327H119.087V97.4228L100.999 150.327H78.695L60.471 97.0148V150.327H33.815V54.4468H66.047L90.119 116.735L113.647 54.4468H145.743ZM252.853 54.4468L219.125 119.863V150.327H192.333V119.863L158.605 54.4468H189.069L205.933 91.4388L222.797 54.4468H252.853ZM431.635 54.4468L408.107 150.327H375.331L362.139 91.5748L348.675 150.327H315.899L292.643 54.4468H321.475L332.627 119.999L347.723 54.4468H376.963L391.651 119.455L402.803 54.4468H431.635ZM493.675 151.279C484.699 151.279 476.448 149.193 468.923 145.023C461.397 140.761 455.413 134.913 450.971 127.479C446.619 119.953 444.443 111.476 444.443 102.047C444.443 92.6174 446.619 84.1854 450.971 76.7508C455.413 69.2254 461.397 63.3774 468.923 59.2068C476.448 55.0361 484.699 52.9508 493.675 52.9508C502.741 52.9508 510.992 55.0361 518.427 59.2068C525.952 63.3774 531.891 69.2254 536.243 76.7508C540.595 84.1854 542.771 92.6174 542.771 102.047C542.771 111.476 540.595 119.953 536.243 127.479C531.891 134.913 525.952 140.761 518.427 145.023C510.901 149.193 502.651 151.279 493.675 151.279ZM493.675 126.527C500.475 126.527 505.824 124.305 509.723 119.863C513.712 115.42 515.707 109.481 515.707 102.047C515.707 94.4308 513.712 88.4468 509.723 84.0948C505.824 79.6521 500.475 77.4308 493.675 77.4308C486.784 77.4308 481.389 79.6521 477.491 84.0948C473.592 88.4468 471.643 94.4308 471.643 102.047C471.643 109.572 473.592 115.556 477.491 119.999C481.389 124.351 486.784 126.527 493.675 126.527ZM608.065 150.327L589.025 114.967H586.169V150.327H559.513V54.4468H601.537C609.244 54.4468 615.772 55.8068 621.121 58.5268C626.471 61.1561 630.505 64.8281 633.225 69.5428C635.945 74.1668 637.305 79.3801 637.305 85.1828C637.305 91.7108 635.492 97.4681 631.865 102.455C628.329 107.351 623.116 110.841 616.225 112.927L637.849 150.327H608.065ZM586.169 96.7428H599.361C602.988 96.7428 605.708 95.8814 607.521 94.1588C609.335 92.4361 610.241 89.9428 610.241 86.6788C610.241 83.5961 609.289 81.1934 607.385 79.4708C605.572 77.6574 602.897 76.7508 599.361 76.7508H586.169V96.7428ZM710.899 150.327L680.843 108.303V150.327H654.187V54.4468H680.843V95.7908L710.627 54.4468H741.363L706.139 100.959L743.131 150.327H710.899Z" fill="url(#paint0_linear)"/>
          <path d="M135.743 54.4468V150.327H109.087V97.4228L90.999 150.327H68.695L50.471 97.0148V150.327H23.815V54.4468H56.047L80.119 116.735L103.647 54.4468H135.743ZM242.853 54.4468L209.125 119.863V150.327H182.333V119.863L148.605 54.4468H179.069L195.933 91.4388L212.797 54.4468H242.853ZM421.635 54.4468L398.107 150.327H365.331L352.139 91.5748L338.675 150.327H305.899L282.643 54.4468H311.475L322.627 119.999L337.723 54.4468H366.963L381.651 119.455L392.803 54.4468H421.635ZM483.675 151.279C474.699 151.279 466.448 149.193 458.923 145.023C451.397 140.761 445.413 134.913 440.971 127.479C436.619 119.953 434.443 111.476 434.443 102.047C434.443 92.6174 436.619 84.1854 440.971 76.7508C445.413 69.2254 451.397 63.3774 458.923 59.2068C466.448 55.0361 474.699 52.9508 483.675 52.9508C492.741 52.9508 500.992 55.0361 508.427 59.2068C515.952 63.3774 521.891 69.2254 526.243 76.7508C530.595 84.1854 532.771 92.6174 532.771 102.047C532.771 111.476 530.595 119.953 526.243 127.479C521.891 134.913 515.952 140.761 508.427 145.023C500.901 149.193 492.651 151.279 483.675 151.279ZM483.675 126.527C490.475 126.527 495.824 124.305 499.723 119.863C503.712 115.42 505.707 109.481 505.707 102.047C505.707 94.4308 503.712 88.4468 499.723 84.0948C495.824 79.6521 490.475 77.4308 483.675 77.4308C476.784 77.4308 471.389 79.6521 467.491 84.0948C463.592 88.4468 461.643 94.4308 461.643 102.047C461.643 109.572 463.592 115.556 467.491 119.999C471.389 124.351 476.784 126.527 483.675 126.527ZM598.065 150.327L579.025 114.967H576.169V150.327H549.513V54.4468H591.537C599.244 54.4468 605.772 55.8068 611.121 58.5268C616.471 61.1561 620.505 64.8281 623.225 69.5428C625.945 74.1668 627.305 79.3801 627.305 85.1828C627.305 91.7108 625.492 97.4681 621.865 102.455C618.329 107.351 613.116 110.841 606.225 112.927L627.849 150.327H598.065ZM576.169 96.7428H589.361C592.988 96.7428 595.708 95.8814 597.521 94.1588C599.335 92.4361 600.241 89.9428 600.241 86.6788C600.241 83.5961 599.289 81.1934 597.385 79.4708C595.572 77.6574 592.897 76.7508 589.361 76.7508H576.169V96.7428ZM700.899 150.327L670.843 108.303V150.327H644.187V54.4468H670.843V95.7908L700.627 54.4468H731.363L696.139 100.959L733.131 150.327H700.899Z" fill="white"/>
          <defs>
          <linearGradient id="paint0_linear" x1="385.095" y1="61.6678" x2="385.095" y2="148.594" gradientUnits="userSpaceOnUse">
          <stop stop-color="#D59FFF"/>
          <stop offset="1" stop-color="#00759A"/>
          </linearGradient>
          </defs>
        </svg>
        <div class="border-header border-proj-header"></div>
      </div>

      <div class="portfolio-overview">
        <div class="project project-one">
          <h3>PROJECT #1</h3>
          <div class="project-info">
            <div class="project-arrow">
              <h2 id="dish-advisor">DISH ADVISOR</h2>
              <svg width="96" height="75" viewBox="0 0 96 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M94.242 40.8627C96.1946 38.9101 96.1946 35.7442 94.242 33.7916L62.4222 1.97181C60.4695 0.0191848 57.3037 0.0191851 55.3511 1.97181C53.3985 3.92443 53.3985 7.09025 55.3511 9.04287L83.6354 37.3271L55.3511 65.6114C53.3985 67.564 53.3985 70.7299 55.3511 72.6825C57.3037 74.6351 60.4695 74.6351 62.4222 72.6825L94.242 40.8627ZM0.705079 42.3272L90.7064 42.3271L90.7064 32.3271L0.705078 32.3272L0.705079 42.3272Z" fill="#F5FFF4"/>
              </svg>
            </div>
            <div class="border-project border-proj-one"></div>
          </div>
        </div>

        <div class="project project-two">
          <h3>PROJECT #2</h3>
          <div class="project-info">
            <div class="project-arrow">
              <h2 id="tropic-hot">TROPIC LIKE IT'S HOT</h2>
              <svg width="96" height="75" viewBox="0 0 96 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M93.8477 40.9365C95.8003 38.9839 95.8003 35.8181 93.8477 33.8655L62.0279 2.04566C60.0753 0.0930373 56.9094 0.0930376 54.9568 2.04566C53.0042 3.99828 53.0042 7.16411 54.9568 9.11673L83.2411 37.401L54.9568 65.6853C53.0042 67.6379 53.0042 70.8037 54.9568 72.7563C56.9094 74.709 60.0753 74.709 62.0279 72.7563L93.8477 40.9365ZM0.310791 42.401L90.3121 42.401L90.3121 32.401L0.310791 32.401L0.310791 42.401Z" fill="#E2EEFF"/>
              </svg>
            </div>
            <div class="border-project border-proj-two"></div>
          </div>
        </div>
        
        <div class="project project-three">
          <h3>PROJECT #3</h3>
          <div class="project-info">
            <div class="project-arrow">
              <h2 id="this-site">THIS WEBSITE</h2>
              <svg width="96" height="75" viewBox="0 0 96 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M93.5369 41.2295C95.4895 39.2769 95.4895 36.1111 93.5369 34.1584L61.7171 2.33863C59.7645 0.386006 56.5986 0.386006 54.646 2.33863C52.6934 4.29125 52.6934 7.45707 54.646 9.4097L82.9303 37.694L54.646 65.9782C52.6934 67.9309 52.6934 71.0967 54.646 73.0493C56.5986 75.0019 59.7645 75.0019 61.7171 73.0493L93.5369 41.2295ZM4.80423e-07 42.694L90.0014 42.694L90.0014 32.694L-4.80423e-07 32.694L4.80423e-07 42.694Z" fill="#FFEEFD"/>
              </svg>
            </div>
            <div class="border-project border-proj-three" id="skills"></div>
          </div>
        </div>
      </div>
    </div>

<%# Section 4 - Skills %>
    <div class="section-four" >
      <div class="skills-header" >
        <svg width="761" height="152" viewBox="0 0 761 152" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M196.219 151.279C185.067 151.279 175.909 148.649 168.747 143.391C161.584 138.041 157.731 130.425 157.187 120.543H185.611C185.883 123.897 186.88 126.345 188.603 127.887C190.325 129.428 192.547 130.199 195.267 130.199C197.715 130.199 199.709 129.609 201.251 128.431C202.883 127.161 203.699 125.439 203.699 123.263C203.699 120.452 202.384 118.276 199.755 116.735C197.125 115.193 192.864 113.471 186.971 111.567C180.715 109.481 175.637 107.487 171.739 105.583C167.931 103.588 164.576 100.732 161.675 97.0148C158.864 93.2068 157.459 88.2654 157.459 82.1908C157.459 76.0254 159 70.7668 162.083 66.4148C165.165 61.9721 169.427 58.6174 174.867 56.3508C180.307 54.0841 186.472 52.9508 193.363 52.9508C204.515 52.9508 213.4 55.5801 220.019 60.8388C226.728 66.0068 230.309 73.3054 230.763 82.7348H201.795C201.704 79.8334 200.797 77.6574 199.075 76.2068C197.443 74.7561 195.312 74.0308 192.683 74.0308C190.688 74.0308 189.056 74.6201 187.787 75.7988C186.517 76.9774 185.883 78.6548 185.883 80.8308C185.883 82.6441 186.563 84.2308 187.923 85.5908C189.373 86.8601 191.141 87.9934 193.227 88.9908C195.312 89.8974 198.395 91.0761 202.475 92.5268C208.549 94.6121 213.536 96.6974 217.435 98.7828C221.424 100.777 224.824 103.633 227.635 107.351C230.536 110.977 231.987 115.601 231.987 121.223C231.987 126.935 230.536 132.057 227.635 136.591C224.824 141.124 220.699 144.705 215.259 147.335C209.909 149.964 203.563 151.279 196.219 151.279ZM305.851 150.327L275.795 108.303V150.327H249.139V54.4468H275.795V95.7908L305.579 54.4468H336.315L301.091 100.959L338.083 150.327H305.851ZM379.234 54.4468V150.327H352.578V54.4468H379.234ZM425.83 129.927H455.614V150.327H399.174V54.4468H425.83V129.927ZM497.395 129.927H527.179V150.327H470.739V54.4468H497.395V129.927ZM578.48 151.279C567.328 151.279 558.17 148.649 551.008 143.391C543.845 138.041 539.992 130.425 539.448 120.543H567.872C568.144 123.897 569.141 126.345 570.864 127.887C572.586 129.428 574.808 130.199 577.528 130.199C579.976 130.199 581.97 129.609 583.512 128.431C585.144 127.161 585.96 125.439 585.96 123.263C585.96 120.452 584.645 118.276 582.016 116.735C579.386 115.193 575.125 113.471 569.232 111.567C562.976 109.481 557.898 107.487 554 105.583C550.192 103.588 546.837 100.732 543.936 97.0148C541.125 93.2068 539.72 88.2654 539.72 82.1908C539.72 76.0254 541.261 70.7668 544.344 66.4148C547.426 61.9721 551.688 58.6174 557.128 56.3508C562.568 54.0841 568.733 52.9508 575.624 52.9508C586.776 52.9508 595.661 55.5801 602.28 60.8388C608.989 66.0068 612.57 73.3054 613.024 82.7348H584.056C583.965 79.8334 583.058 77.6574 581.336 76.2068C579.704 74.7561 577.573 74.0308 574.944 74.0308C572.949 74.0308 571.317 74.6201 570.048 75.7988C568.778 76.9774 568.144 78.6548 568.144 80.8308C568.144 82.6441 568.824 84.2308 570.184 85.5908C571.634 86.8601 573.402 87.9934 575.488 88.9908C577.573 89.8974 580.656 91.0761 584.736 92.5268C590.81 94.6121 595.797 96.6974 599.696 98.7828C603.685 100.777 607.085 103.633 609.896 107.351C612.797 110.977 614.248 115.601 614.248 121.223C614.248 126.935 612.797 132.057 609.896 136.591C607.085 141.124 602.96 144.705 597.52 147.335C592.17 149.964 585.824 151.279 578.48 151.279Z" fill="url(#paint0_linear)"/>
          <path d="M186.219 151.279C175.067 151.279 165.909 148.649 158.747 143.391C151.584 138.041 147.731 130.425 147.187 120.543H175.611C175.883 123.897 176.88 126.345 178.603 127.887C180.325 129.428 182.547 130.199 185.267 130.199C187.715 130.199 189.709 129.609 191.251 128.431C192.883 127.161 193.699 125.439 193.699 123.263C193.699 120.452 192.384 118.276 189.755 116.735C187.125 115.193 182.864 113.471 176.971 111.567C170.715 109.481 165.637 107.487 161.739 105.583C157.931 103.588 154.576 100.732 151.675 97.0148C148.864 93.2068 147.459 88.2654 147.459 82.1908C147.459 76.0254 149 70.7668 152.083 66.4148C155.165 61.9721 159.427 58.6174 164.867 56.3508C170.307 54.0841 176.472 52.9508 183.363 52.9508C194.515 52.9508 203.4 55.5801 210.019 60.8388C216.728 66.0068 220.309 73.3054 220.763 82.7348H191.795C191.704 79.8334 190.797 77.6574 189.075 76.2068C187.443 74.7561 185.312 74.0308 182.683 74.0308C180.688 74.0308 179.056 74.6201 177.787 75.7988C176.517 76.9774 175.883 78.6548 175.883 80.8308C175.883 82.6441 176.563 84.2308 177.923 85.5908C179.373 86.8601 181.141 87.9934 183.227 88.9908C185.312 89.8974 188.395 91.0761 192.475 92.5268C198.549 94.6121 203.536 96.6974 207.435 98.7828C211.424 100.777 214.824 103.633 217.635 107.351C220.536 110.977 221.987 115.601 221.987 121.223C221.987 126.935 220.536 132.057 217.635 136.591C214.824 141.124 210.699 144.705 205.259 147.335C199.909 149.964 193.563 151.279 186.219 151.279ZM295.851 150.327L265.795 108.303V150.327H239.139V54.4468H265.795V95.7908L295.579 54.4468H326.315L291.091 100.959L328.083 150.327H295.851ZM369.234 54.4468V150.327H342.578V54.4468H369.234ZM415.83 129.927H445.614V150.327H389.174V54.4468H415.83V129.927ZM487.395 129.927H517.179V150.327H460.739V54.4468H487.395V129.927ZM568.48 151.279C557.328 151.279 548.17 148.649 541.008 143.391C533.845 138.041 529.992 130.425 529.448 120.543H557.872C558.144 123.897 559.141 126.345 560.864 127.887C562.586 129.428 564.808 130.199 567.528 130.199C569.976 130.199 571.97 129.609 573.512 128.431C575.144 127.161 575.96 125.439 575.96 123.263C575.96 120.452 574.645 118.276 572.016 116.735C569.386 115.193 565.125 113.471 559.232 111.567C552.976 109.481 547.898 107.487 544 105.583C540.192 103.588 536.837 100.732 533.936 97.0148C531.125 93.2068 529.72 88.2654 529.72 82.1908C529.72 76.0254 531.261 70.7668 534.344 66.4148C537.426 61.9721 541.688 58.6174 547.128 56.3508C552.568 54.0841 558.733 52.9508 565.624 52.9508C576.776 52.9508 585.661 55.5801 592.28 60.8388C598.989 66.0068 602.57 73.3054 603.024 82.7348H574.056C573.965 79.8334 573.058 77.6574 571.336 76.2068C569.704 74.7561 567.573 74.0308 564.944 74.0308C562.949 74.0308 561.317 74.6201 560.048 75.7988C558.778 76.9774 558.144 78.6548 558.144 80.8308C558.144 82.6441 558.824 84.2308 560.184 85.5908C561.634 86.8601 563.402 87.9934 565.488 88.9908C567.573 89.8974 570.656 91.0761 574.736 92.5268C580.81 94.6121 585.797 96.6974 589.696 98.7828C593.685 100.777 597.085 103.633 599.896 107.351C602.797 110.977 604.248 115.601 604.248 121.223C604.248 126.935 602.797 132.057 599.896 136.591C597.085 141.124 592.96 144.705 587.52 147.335C582.17 149.964 575.824 151.279 568.48 151.279Z" fill="white"/>
          <defs>
          <linearGradient id="paint0_linear" x1="385.095" y1="61.6678" x2="385.095" y2="148.594" gradientUnits="userSpaceOnUse">
          <stop stop-color="#D59FFF"/>
          <stop offset="1" stop-color="#00759A"/>
          </linearGradient>
          </defs>
        </svg>
      </div>

      <div class="skills-content">
        <div class="skill skills-one">
          <h3>RUBY.</h3>
          <h3 class="ruby-rails">RUBY ON RAILS.</h3>
          <h3>REACT.</h3>
        </div>
        <div class=" skill skills-two">
          <h3>JAVASCRIPT.</h3>
          <h3>CSS.</h3>
          <h3>3D DESIGN.</h3>
        </div>
        <div class="skill skills-three">
          <h3>BOOTSTRAP.</h3>
          <h3>GITHUB.</h3>
          <h3>HEROKU.</h3>
        </div>
        <div class="skill skills-four">
          <h3>PHOTOSHOP.</h3>
          <h3>HTML5.</h3>
          <h3>MATLAB.</h3>
        </div>
        <div class="skill skills-five">
          <h3>NODE.JS.</h3>
          <h3>UI/UX.</h3>
          <h3>POSTGRESQL.</h3>
        </div>
      </div>
    </div>

    <div class="section-five" id="services">
        <div class="services-header header-invis">
          <svg width="708" height="152" viewBox="0 0 708 152" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M86.1327 151.469C74.9807 151.469 65.8233 148.84 58.6607 143.581C51.498 138.232 47.6447 130.616 47.1007 120.733H75.5247C75.7967 124.088 76.794 126.536 78.5167 128.077C80.2393 129.619 82.4607 130.389 85.1807 130.389C87.6287 130.389 89.6233 129.8 91.1647 128.621C92.7967 127.352 93.6127 125.629 93.6127 123.453C93.6127 120.643 92.298 118.467 89.6687 116.925C87.0393 115.384 82.778 113.661 76.8847 111.757C70.6287 109.672 65.5513 107.677 61.6527 105.773C57.8447 103.779 54.49 100.923 51.5887 97.2055C48.778 93.3975 47.3727 88.4561 47.3727 82.3814C47.3727 76.2161 48.914 70.9575 51.9967 66.6055C55.0793 62.1628 59.3407 58.8081 64.7807 56.5415C70.2207 54.2748 76.386 53.1415 83.2767 53.1415C94.4287 53.1415 103.314 55.7708 109.933 61.0294C116.642 66.1975 120.223 73.4961 120.677 82.9255H91.7087C91.618 80.0241 90.7113 77.8481 88.9887 76.3975C87.3567 74.9468 85.226 74.2214 82.5967 74.2214C80.602 74.2214 78.97 74.8108 77.7007 75.9895C76.4313 77.1681 75.7967 78.8455 75.7967 81.0215C75.7967 82.8348 76.4767 84.4215 77.8367 85.7815C79.2873 87.0508 81.0553 88.1841 83.1407 89.1815C85.226 90.0881 88.3087 91.2668 92.3887 92.7175C98.4633 94.8028 103.45 96.8881 107.349 98.9735C111.338 100.968 114.738 103.824 117.549 107.541C120.45 111.168 121.901 115.792 121.901 121.413C121.901 127.125 120.45 132.248 117.549 136.781C114.738 141.315 110.613 144.896 105.173 147.525C99.8233 150.155 93.4767 151.469 86.1327 151.469ZM165.709 75.9895V91.6295H196.309V111.893H165.709V129.165H200.389V150.517H139.053V54.6375H200.389V75.9895H165.709ZM266.872 150.517L247.832 115.157H244.976V150.517H218.32V54.6375H260.344C268.051 54.6375 274.579 55.9975 279.928 58.7175C285.278 61.3468 289.312 65.0188 292.032 69.7335C294.752 74.3575 296.112 79.5708 296.112 85.3735C296.112 91.9015 294.299 97.6588 290.672 102.645C287.136 107.541 281.923 111.032 275.032 113.117L296.656 150.517H266.872ZM244.976 96.9335H258.168C261.795 96.9335 264.515 96.0721 266.328 94.3495C268.142 92.6268 269.048 90.1335 269.048 86.8695C269.048 83.7868 268.096 81.3841 266.192 79.6615C264.379 77.8481 261.704 76.9415 258.168 76.9415H244.976V96.9335ZM406.29 54.6375L373.242 150.517H339.106L305.922 54.6375H334.482L356.242 123.861L377.866 54.6375H406.29ZM446.012 54.6375V150.517H419.356V54.6375H446.012ZM462.688 102.373C462.688 92.9441 464.637 84.5575 468.536 77.2135C472.525 69.7788 478.147 64.0215 485.4 59.9415C492.653 55.7708 500.995 53.6855 510.424 53.6855C522.392 53.6855 532.456 56.9041 540.616 63.3415C548.776 69.6881 554.035 78.3468 556.392 89.3175H527.696C525.973 85.6908 523.571 82.9255 520.488 81.0215C517.496 79.1175 514.005 78.1655 510.016 78.1655C503.851 78.1655 498.909 80.3868 495.192 84.8295C491.565 89.1815 489.752 95.0295 489.752 102.373C489.752 109.808 491.565 115.747 495.192 120.189C498.909 124.541 503.851 126.717 510.016 126.717C514.005 126.717 517.496 125.765 520.488 123.861C523.571 121.957 525.973 119.192 527.696 115.565H556.392C554.035 126.536 548.776 135.24 540.616 141.677C532.456 148.024 522.392 151.197 510.424 151.197C500.995 151.197 492.653 149.157 485.4 145.077C478.147 140.907 472.525 135.149 468.536 127.805C464.637 120.371 462.688 111.893 462.688 102.373ZM600.43 75.9895V91.6295H631.03V111.893H600.43V129.165H635.11V150.517H573.774V54.6375H635.11V75.9895H600.43ZM689.218 151.469C678.066 151.469 668.909 148.84 661.746 143.581C654.584 138.232 650.73 130.616 650.186 120.733H678.61C678.882 124.088 679.88 126.536 681.602 128.077C683.325 129.619 685.546 130.389 688.266 130.389C690.714 130.389 692.709 129.8 694.25 128.621C695.882 127.352 696.698 125.629 696.698 123.453C696.698 120.643 695.384 118.467 692.754 116.925C690.125 115.384 685.864 113.661 679.97 111.757C673.714 109.672 668.637 107.677 664.738 105.773C660.93 103.779 657.576 100.923 654.674 97.2055C651.864 93.3975 650.458 88.4561 650.458 82.3814C650.458 76.2161 652 70.9575 655.082 66.6055C658.165 62.1628 662.426 58.8081 667.866 56.5415C673.306 54.2748 679.472 53.1415 686.362 53.1415C697.514 53.1415 706.4 55.7708 713.018 61.0294C719.728 66.1975 723.309 73.4961 723.762 82.9255H694.794C694.704 80.0241 693.797 77.8481 692.074 76.3975C690.442 74.9468 688.312 74.2214 685.682 74.2214C683.688 74.2214 682.056 74.8108 680.786 75.9895C679.517 77.1681 678.882 78.8455 678.882 81.0215C678.882 82.8348 679.562 84.4215 680.922 85.7815C682.373 87.0508 684.141 88.1841 686.226 89.1815C688.312 90.0881 691.394 91.2668 695.474 92.7175C701.549 94.8028 706.536 96.8881 710.434 98.9735C714.424 100.968 717.824 103.824 720.634 107.541C723.536 111.168 724.986 115.792 724.986 121.413C724.986 127.125 723.536 132.248 720.634 136.781C717.824 141.315 713.698 144.896 708.258 147.525C702.909 150.155 696.562 151.469 689.218 151.469Z" fill="url(#paint0_linear)"/>
            <path d="M76.1327 151.469C64.9807 151.469 55.8233 148.84 48.6607 143.581C41.498 138.232 37.6447 130.616 37.1007 120.733H65.5247C65.7967 124.088 66.794 126.536 68.5167 128.077C70.2393 129.619 72.4607 130.389 75.1807 130.389C77.6287 130.389 79.6233 129.8 81.1647 128.621C82.7967 127.352 83.6127 125.629 83.6127 123.453C83.6127 120.643 82.298 118.467 79.6687 116.925C77.0393 115.384 72.778 113.661 66.8847 111.757C60.6287 109.672 55.5513 107.677 51.6527 105.773C47.8447 103.779 44.49 100.923 41.5887 97.2055C38.778 93.3975 37.3727 88.4561 37.3727 82.3814C37.3727 76.2161 38.914 70.9575 41.9967 66.6055C45.0793 62.1628 49.3407 58.8081 54.7807 56.5415C60.2207 54.2748 66.386 53.1415 73.2767 53.1415C84.4287 53.1415 93.314 55.7708 99.9327 61.0294C106.642 66.1975 110.223 73.4961 110.677 82.9255H81.7087C81.618 80.0241 80.7113 77.8481 78.9887 76.3975C77.3567 74.9468 75.226 74.2214 72.5967 74.2214C70.602 74.2214 68.97 74.8108 67.7007 75.9895C66.4313 77.1681 65.7967 78.8455 65.7967 81.0215C65.7967 82.8348 66.4767 84.4215 67.8367 85.7815C69.2873 87.0508 71.0553 88.1841 73.1407 89.1815C75.226 90.0881 78.3087 91.2668 82.3887 92.7175C88.4633 94.8028 93.45 96.8881 97.3487 98.9735C101.338 100.968 104.738 103.824 107.549 107.541C110.45 111.168 111.901 115.792 111.901 121.413C111.901 127.125 110.45 132.248 107.549 136.781C104.738 141.315 100.613 144.896 95.1727 147.525C89.8233 150.155 83.4767 151.469 76.1327 151.469ZM155.709 75.9895V91.6295H186.309V111.893H155.709V129.165H190.389V150.517H129.053V54.6375H190.389V75.9895H155.709ZM256.872 150.517L237.832 115.157H234.976V150.517H208.32V54.6375H250.344C258.051 54.6375 264.579 55.9975 269.928 58.7175C275.278 61.3468 279.312 65.0188 282.032 69.7335C284.752 74.3575 286.112 79.5708 286.112 85.3735C286.112 91.9015 284.299 97.6588 280.672 102.645C277.136 107.541 271.923 111.032 265.032 113.117L286.656 150.517H256.872ZM234.976 96.9335H248.168C251.795 96.9335 254.515 96.0721 256.328 94.3495C258.142 92.6268 259.048 90.1335 259.048 86.8695C259.048 83.7868 258.096 81.3841 256.192 79.6615C254.379 77.8481 251.704 76.9415 248.168 76.9415H234.976V96.9335ZM396.29 54.6375L363.242 150.517H329.106L295.922 54.6375H324.482L346.242 123.861L367.866 54.6375H396.29ZM436.012 54.6375V150.517H409.356V54.6375H436.012ZM452.688 102.373C452.688 92.9441 454.637 84.5575 458.536 77.2135C462.525 69.7788 468.147 64.0215 475.4 59.9415C482.653 55.7708 490.995 53.6855 500.424 53.6855C512.392 53.6855 522.456 56.9041 530.616 63.3415C538.776 69.6881 544.035 78.3468 546.392 89.3175H517.696C515.973 85.6908 513.571 82.9255 510.488 81.0215C507.496 79.1175 504.005 78.1655 500.016 78.1655C493.851 78.1655 488.909 80.3868 485.192 84.8295C481.565 89.1815 479.752 95.0295 479.752 102.373C479.752 109.808 481.565 115.747 485.192 120.189C488.909 124.541 493.851 126.717 500.016 126.717C504.005 126.717 507.496 125.765 510.488 123.861C513.571 121.957 515.973 119.192 517.696 115.565H546.392C544.035 126.536 538.776 135.24 530.616 141.677C522.456 148.024 512.392 151.197 500.424 151.197C490.995 151.197 482.653 149.157 475.4 145.077C468.147 140.907 462.525 135.149 458.536 127.805C454.637 120.371 452.688 111.893 452.688 102.373ZM590.43 75.9895V91.6295H621.03V111.893H590.43V129.165H625.11V150.517H563.774V54.6375H625.11V75.9895H590.43ZM679.218 151.469C668.066 151.469 658.909 148.84 651.746 143.581C644.584 138.232 640.73 130.616 640.186 120.733H668.61C668.882 124.088 669.88 126.536 671.602 128.077C673.325 129.619 675.546 130.389 678.266 130.389C680.714 130.389 682.709 129.8 684.25 128.621C685.882 127.352 686.698 125.629 686.698 123.453C686.698 120.643 685.384 118.467 682.754 116.925C680.125 115.384 675.864 113.661 669.97 111.757C663.714 109.672 658.637 107.677 654.738 105.773C650.93 103.779 647.576 100.923 644.674 97.2055C641.864 93.3975 640.458 88.4561 640.458 82.3814C640.458 76.2161 642 70.9575 645.082 66.6055C648.165 62.1628 652.426 58.8081 657.866 56.5415C663.306 54.2748 669.472 53.1415 676.362 53.1415C687.514 53.1415 696.4 55.7708 703.018 61.0294C709.728 66.1975 713.309 73.4961 713.762 82.9255H684.794C684.704 80.0241 683.797 77.8481 682.074 76.3975C680.442 74.9468 678.312 74.2214 675.682 74.2214C673.688 74.2214 672.056 74.8108 670.786 75.9895C669.517 77.1681 668.882 78.8455 668.882 81.0215C668.882 82.8348 669.562 84.4215 670.922 85.7815C672.373 87.0508 674.141 88.1841 676.226 89.1815C678.312 90.0881 681.394 91.2668 685.474 92.7175C691.549 94.8028 696.536 96.8881 700.434 98.9735C704.424 100.968 707.824 103.824 710.634 107.541C713.536 111.168 714.986 115.792 714.986 121.413C714.986 127.125 713.536 132.248 710.634 136.781C707.824 141.315 703.698 144.896 698.258 147.525C692.909 150.155 686.562 151.469 679.218 151.469Z" fill="white"/>
            <defs>
            <linearGradient id="paint0_linear" x1="385.421" y1="61.8585" x2="385.421" y2="148.785" gradientUnits="userSpaceOnUse">
            <stop stop-color="#D59FFF"/>
            <stop offset="1" stop-color="#00759A"/>
            </linearGradient>
            </defs>
          </svg>
        </div>
        <div class="service-web">
          <div class="web-desc">
            <h2 class="services-header">WEB & APP DEVELOPMENT</h2>
            <p>
              Do you have a existing business that you'd like to take online? <br><br>
              Do you have an idea that you've always wanted to try but always hit a wall when it comes to the tech? <br><br>
              I can help by designing and building, a fully functioning web application that will look great on both laptops and mobiles. <br><br>
              <span style="font-size: 12px">( P.S Click, drag and spin the 3D images)</span>
            </p>
          </div>
          <div id="container">
            <iframe src='https://my.spline.design/appdevelopment-89c6c2fdb3dc6ab536cab691127e7ee1/' frameborder='0' width='100%' height='100%'></iframe>          
          </div>
        </div>

        <div class="service-design">
          <div class="design-desc">
            <div id="containertwo">
              <%# <iframe src='https://my.spline.design/webdesign50-ce8aca11ddf555a3b14795043b21ee0b/' frameborder='0' width='100%' height='100%'></iframe> %>
              <%# <iframe src='https://my.spline.design/sketchbookecommerce-acf8153f8ac777faf8a9a335e14a457e/' frameborder='0' width='100%' height='100%'></iframe> %>
              <%# <iframe src='https://my.spline.design/webtest-b7b0ec9045a4159a8a272d5d86269bd5/' frameborder='0' width='100%' height='100%'></iframe> %>
              <iframe src='https://my.spline.design/webtest-b7b0ec9045a4159a8a272d5d86269bd5/' frameborder='0' width='100%' height='100%'></iframe>
            </div>

            <div class="web-design-content">
              <h2 class="services-header">WEB DESIGN</h2>
              <p>
                Does your current website look outdated and is need of a refresh <br><br>
                Do you have an early stage idea thay you'd like to get test out with some users? <br><br>
                I'll create beautiful, custom, user friendly mockups that will convert your site visitors into customer. 
              </p>
            </div>
          </div>
        </div>

         <div class="service-web">
          <div class="web-desc learn-select">
            <h2 class="services-header">LEARN TO CODE</h2>
            <p>
              "The best time to plant a tree was 10 years ago. The second best time is now." <br><br>
              I'm currently teaching at Le Wagon, the world's #1 bootcamp. If you're bored of online courses, I can take you from "Hello World" to building your first full stack application in a few months. 
            </p>
          </div>
          <div id="container" >
            <iframe src='https://my.spline.design/code-3cd99eaac15a756729a780e9a354798e/' frameborder='0' width='100%' height='100%'></iframe>
          </div>
        </div>
      </div>

      <div class="section-six" id="aboutme" >
        <div class="about-header">
          <svg width="762" height="152" viewBox="0 0 762 152" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M83.6974 134.981H49.6974L44.5294 150.621H16.5134L51.4654 54.741H82.2014L117.017 150.621H88.8654L83.6974 134.981ZM77.0334 114.581L66.6974 83.573L56.4974 114.581H77.0334ZM191.665 101.389C197.287 102.658 201.729 105.469 204.993 109.821C208.348 114.082 210.025 118.978 210.025 124.509C210.025 132.669 207.215 139.061 201.593 143.685C195.972 148.309 188.084 150.621 177.929 150.621H130.465V54.741H176.433C186.225 54.741 193.887 56.917 199.417 61.269C205.039 65.621 207.849 71.741 207.849 79.629C207.849 85.2503 206.353 89.965 203.361 93.773C200.46 97.4903 196.561 100.029 191.665 101.389ZM157.121 92.821H170.585C177.295 92.821 180.649 90.0556 180.649 84.525C180.649 78.813 177.295 75.957 170.585 75.957H157.121V92.821ZM172.625 129.133C179.335 129.133 182.689 126.322 182.689 120.701C182.689 117.8 181.783 115.578 179.969 114.037C178.247 112.496 175.753 111.725 172.489 111.725H157.121V129.133H172.625ZM272.436 151.573C263.46 151.573 255.209 149.488 247.684 145.317C240.158 141.056 234.174 135.208 229.732 127.773C225.38 120.248 223.204 111.77 223.204 102.341C223.204 92.9116 225.38 84.4796 229.732 77.045C234.174 69.5196 240.158 63.6716 247.684 59.501C255.209 55.3303 263.46 53.245 272.436 53.245C281.502 53.245 289.753 55.3303 297.188 59.501C304.713 63.6716 310.652 69.5196 315.004 77.045C319.356 84.4796 321.532 92.9116 321.532 102.341C321.532 111.77 319.356 120.248 315.004 127.773C310.652 135.208 304.713 141.056 297.188 145.317C289.662 149.488 281.412 151.573 272.436 151.573ZM272.436 126.821C279.236 126.821 284.585 124.6 288.484 120.157C292.473 115.714 294.468 109.776 294.468 102.341C294.468 94.725 292.473 88.741 288.484 84.389C284.585 79.9463 279.236 77.725 272.436 77.725C265.545 77.725 260.15 79.9463 256.252 84.389C252.353 88.741 250.404 94.725 250.404 102.341C250.404 109.866 252.353 115.85 256.252 120.293C260.15 124.645 265.545 126.821 272.436 126.821ZM364.387 54.741V110.365C364.387 115.533 365.565 119.522 367.923 122.333C370.371 125.144 374.043 126.549 378.939 126.549C383.835 126.549 387.507 125.144 389.955 122.333C392.493 119.432 393.763 115.442 393.763 110.365V54.741H420.419V110.365C420.419 119.16 418.56 126.685 414.843 132.941C411.125 139.106 406.048 143.776 399.611 146.949C393.264 150.032 386.192 151.573 378.395 151.573C370.597 151.573 363.616 150.032 357.451 146.949C351.376 143.776 346.571 139.106 343.035 132.941C339.589 126.776 337.867 119.25 337.867 110.365V54.741H364.387ZM512.071 54.741V75.957H486.503V150.621H459.847V75.957H434.551V54.741H512.071ZM669.412 54.741V150.621H642.756V97.717L624.668 150.621H602.364L584.14 97.309V150.621H557.484V54.741H589.716L613.788 117.029L637.316 54.741H669.412ZM716.002 76.093V91.733H746.602V111.997H716.002V129.269H750.682V150.621H689.346V54.741H750.682V76.093H716.002Z" fill="url(#paint0_linear)"/>
            <path d="M73.6974 134.981H39.6974L34.5294 150.621H6.51338L41.4654 54.741H72.2014L107.017 150.621H78.8654L73.6974 134.981ZM67.0334 114.581L56.6974 83.573L46.4974 114.581H67.0334ZM181.665 101.389C187.287 102.658 191.729 105.469 194.993 109.821C198.348 114.082 200.025 118.978 200.025 124.509C200.025 132.669 197.215 139.061 191.593 143.685C185.972 148.309 178.084 150.621 167.929 150.621H120.465V54.741H166.433C176.225 54.741 183.887 56.917 189.417 61.269C195.039 65.621 197.849 71.741 197.849 79.629C197.849 85.2503 196.353 89.965 193.361 93.773C190.46 97.4903 186.561 100.029 181.665 101.389ZM147.121 92.821H160.585C167.295 92.821 170.649 90.0556 170.649 84.525C170.649 78.813 167.295 75.957 160.585 75.957H147.121V92.821ZM162.625 129.133C169.335 129.133 172.689 126.322 172.689 120.701C172.689 117.8 171.783 115.578 169.969 114.037C168.247 112.496 165.753 111.725 162.489 111.725H147.121V129.133H162.625ZM262.436 151.573C253.46 151.573 245.209 149.488 237.684 145.317C230.158 141.056 224.174 135.208 219.732 127.773C215.38 120.248 213.204 111.77 213.204 102.341C213.204 92.9116 215.38 84.4796 219.732 77.045C224.174 69.5196 230.158 63.6716 237.684 59.501C245.209 55.3303 253.46 53.245 262.436 53.245C271.502 53.245 279.753 55.3303 287.188 59.501C294.713 63.6716 300.652 69.5196 305.004 77.045C309.356 84.4796 311.532 92.9116 311.532 102.341C311.532 111.77 309.356 120.248 305.004 127.773C300.652 135.208 294.713 141.056 287.188 145.317C279.662 149.488 271.412 151.573 262.436 151.573ZM262.436 126.821C269.236 126.821 274.585 124.6 278.484 120.157C282.473 115.714 284.468 109.776 284.468 102.341C284.468 94.725 282.473 88.741 278.484 84.389C274.585 79.9463 269.236 77.725 262.436 77.725C255.545 77.725 250.15 79.9463 246.252 84.389C242.353 88.741 240.404 94.725 240.404 102.341C240.404 109.866 242.353 115.85 246.252 120.293C250.15 124.645 255.545 126.821 262.436 126.821ZM354.387 54.741V110.365C354.387 115.533 355.565 119.522 357.923 122.333C360.371 125.144 364.043 126.549 368.939 126.549C373.835 126.549 377.507 125.144 379.955 122.333C382.493 119.432 383.763 115.442 383.763 110.365V54.741H410.419V110.365C410.419 119.16 408.56 126.685 404.843 132.941C401.125 139.106 396.048 143.776 389.611 146.949C383.264 150.032 376.192 151.573 368.395 151.573C360.597 151.573 353.616 150.032 347.451 146.949C341.376 143.776 336.571 139.106 333.035 132.941C329.589 126.776 327.867 119.25 327.867 110.365V54.741H354.387ZM502.071 54.741V75.957H476.503V150.621H449.847V75.957H424.551V54.741H502.071ZM659.412 54.741V150.621H632.756V97.717L614.668 150.621H592.364L574.14 97.309V150.621H547.484V54.741H579.716L603.788 117.029L627.316 54.741H659.412ZM706.002 76.093V91.733H736.602V111.997H706.002V129.269H740.682V150.621H679.346V54.741H740.682V76.093H706.002Z" fill="white"/>
            <defs>
            <linearGradient id="paint0_linear" x1="385.201" y1="61.962" x2="385.201" y2="148.888" gradientUnits="userSpaceOnUse">
            <stop stop-color="#D59FFF"/>
            <stop offset="1" stop-color="#00759A"/>
            </linearGradient>
            </defs>
          </svg>
        </div>

        <div class="about-content">
          <div class="about-img">
            <div class="image-wrapper">
              <%= cl_image_tag("personal-profile/aboutmeimg.png", class:"profile-photo") %>
              <%= cl_image_tag("personal-profile/aboutmewink.png", class:"profile-photo hidden") %>
            </div>
          </div>
          <div class="about-desc">
            <div class="biography">
              <p>
                The TLDR can be found by clicking the button below. Otherwise, here's a quick overview of who I am. <br><br>
                I grew up in South West London before moving to the University of Nottingham where I obtained a Masters in Maths. I had my first taste of coding here using Matlab to solve differential equations (you're envious, I know).
                Following my graduation in 2014, I joined AB Inbev on their graduate trainee programme and spent the next 6 years there living and working in France, Italy, Belgium and Spain.  <br><br>
                I've always been passionate about technology so when COVID hit during the middle of my sabattical, I thought it was the perfect opportunity to achieve a goal of mine; to learn to code and so
                I joined Le Wagon's 9 week bootcamp. It quickly became clear that this was what I wanted to pursue and so I decided to pivot my career as a Full Stack Developer.    
              </p>
            </div>
            <div class="button-cv">
              <%= link_to "DOWNLOAD CV", "MeehirPatelResume.pdf", download: "", class:"download"  %>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="footer-holder"id="revealed-section-placeholder"></div>
<div class="footer" id="revealed-section">
   <%= render "shared/contact_form", message: @message %>
     
     
</div>
