    <nav>
      <div class="container">
        <h3 class="logo">MEEHIR <span>PATEL</span></h3>
        <div class="hamburger-menu">
          <div class="bar"></div>
        </div>
      </div>
    </nav>

    <h1 class="big-title translate" data-speed="0.25 ">WELCOME.</h1>

    <header>
      <%= image_tag "hill1.png", class: "hill1 translate", data: {speed:"0.13"}%>
      <%= image_tag "hill2.png", class: "hill2 translate", data: {speed:"0"}%>
      <%= image_tag "mountain1.png", class: "mountain1 translate", data: {speed:"-0.05"}%>
      <%= image_tag "mountain2.png", class: "mountain2 translate", data: {speed:"-0.2"}%>
      <%= image_tag "sky.png", class: "sky translate", data: {speed:"0.5"}%>
    </header>

    <div class="section">
      <div class="shadow"></div>
      <div class="container intro-banners">
      <%= image_tag "Stack 1.png", class: "top-stack slide-in"%>
      <%= image_tag "Stack 2.png", class: "second-stack"%>
      <%= image_tag "Stack 3.png", class: "third-stack"%>
      <%= image_tag "Stack 4.png", class: "fourth-stack"%>
      
      </div>
    </div>

    