    <nav>
      <div class="container">
        <h3 class="logo">MEEHIR <span>PATEL</span></h3>
        <div class="hamburger-menu">
          <div class="bar"></div>
        </div>
      </div>
    </nav>

    <h1 class="big-title translate" data-speed="0.25 ">WELCOME.</h1>
<%# , data: {speed:"0.13"} %>
    <header>
      <%= cl_image_tag("personal-profile/hill1_min_banner.png", class: "hill1 translate", data: {speed:"0.13"})%>
      <%= cl_image_tag("personal-profile/hill2-min_ynxfxm.png", class: "hill2 translate", data: {speed:"0"})%>
      <%= cl_image_tag("personal-profile/mountain1_sgfyrp.png", class: "mountain1 translate", data: {speed:"-0.05"})%>
      <%= cl_image_tag("personal-profile/mountain2_mpmfnn.png", class: "mountain2 translate", data: {speed:"-0.2"})%>
      <%= cl_image_tag("personal-profile/sky_spj6dq.png", class: "sky translate", data: {speed:"0.5"})%>
    </header>

    <div class="section">
      <div class="shadow"></div>
      <div class="container intro-banners">
        <%= cl_image_tag("personal-profile/Stack_1_ualzdm.png", class: "top-stack slide-in")%>
        <%= cl_image_tag("personal-profile/Stack_2_lzb2ng.png", class: "second-stack")%>
        <%= cl_image_tag("personal-profile/Stack_3_af5fd3.png", class: "third-stack")%>
        <%= cl_image_tag("personal-profile/Stack_4_bsf6xo.png", class: "fourth-stack")%>
      
      </div>
    </div>

    