<div class="wrapper-position">
    <nav>
      <div class="container">
        <h3 class="logo">MEEHIR <span>PATEL</span></h3>
        <div class="hamburger-menu">
          <div class="bar"></div>
        </div>
      </div>
    </nav>

    <h1 class="big-title translate" data-speed="0.25 ">WELCOME.</h1>

<%# Section 1 - Banner %>
    <header>
      <%= cl_image_tag("personal-profile/hill1_min_banner.png", class: "hill1 translate", data: {speed:"0.13"})%>
      <%= cl_image_tag("personal-profile/hill2-min_ynxfxm.png", class: "hill2 translate", data: {speed:"0"})%>
      <%= cl_image_tag("personal-profile/mountain1_sgfyrp.png", class: "mountain1 translate", data: {speed:"-0.05"})%>
      <%= cl_image_tag("personal-profile/mountain2_mpmfnn.png", class: "mountain2 translate", data: {speed:"-0.2"})%>
      <%= cl_image_tag("personal-profile/sky_spj6dq.png", class: "sky translate", data: {speed:"0.5"})%>
    </header>

<%# Section 2 - Intro %>
    <div class="section">
      <div class="shadow"></div>
      <div class="container intro-banners">
        <%= cl_image_tag("personal-profile/Stack_1_ualzdm.png", class: "top-stack slide-in")%>
        <%= cl_image_tag("personal-profile/Stack_2_lzb2ng.png", class: "second-stack")%>
        <%= cl_image_tag("personal-profile/Stack_3_af5fd3.png", class: "third-stack")%>
        <%= cl_image_tag("personal-profile/Stack_4_bsf6xo.png", class: "fourth-stack")%> 
      </div>
    </div>

<%# Section 3 - Portfolio %>
    <div class="section-three">

      <div class="portfolio-header">
        <svg width="761" height="152" viewBox="0 0 761 152" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M145.743 54.4468V150.327H119.087V97.4228L100.999 150.327H78.695L60.471 97.0148V150.327H33.815V54.4468H66.047L90.119 116.735L113.647 54.4468H145.743ZM252.853 54.4468L219.125 119.863V150.327H192.333V119.863L158.605 54.4468H189.069L205.933 91.4388L222.797 54.4468H252.853ZM431.635 54.4468L408.107 150.327H375.331L362.139 91.5748L348.675 150.327H315.899L292.643 54.4468H321.475L332.627 119.999L347.723 54.4468H376.963L391.651 119.455L402.803 54.4468H431.635ZM493.675 151.279C484.699 151.279 476.448 149.193 468.923 145.023C461.397 140.761 455.413 134.913 450.971 127.479C446.619 119.953 444.443 111.476 444.443 102.047C444.443 92.6174 446.619 84.1854 450.971 76.7508C455.413 69.2254 461.397 63.3774 468.923 59.2068C476.448 55.0361 484.699 52.9508 493.675 52.9508C502.741 52.9508 510.992 55.0361 518.427 59.2068C525.952 63.3774 531.891 69.2254 536.243 76.7508C540.595 84.1854 542.771 92.6174 542.771 102.047C542.771 111.476 540.595 119.953 536.243 127.479C531.891 134.913 525.952 140.761 518.427 145.023C510.901 149.193 502.651 151.279 493.675 151.279ZM493.675 126.527C500.475 126.527 505.824 124.305 509.723 119.863C513.712 115.42 515.707 109.481 515.707 102.047C515.707 94.4308 513.712 88.4468 509.723 84.0948C505.824 79.6521 500.475 77.4308 493.675 77.4308C486.784 77.4308 481.389 79.6521 477.491 84.0948C473.592 88.4468 471.643 94.4308 471.643 102.047C471.643 109.572 473.592 115.556 477.491 119.999C481.389 124.351 486.784 126.527 493.675 126.527ZM608.065 150.327L589.025 114.967H586.169V150.327H559.513V54.4468H601.537C609.244 54.4468 615.772 55.8068 621.121 58.5268C626.471 61.1561 630.505 64.8281 633.225 69.5428C635.945 74.1668 637.305 79.3801 637.305 85.1828C637.305 91.7108 635.492 97.4681 631.865 102.455C628.329 107.351 623.116 110.841 616.225 112.927L637.849 150.327H608.065ZM586.169 96.7428H599.361C602.988 96.7428 605.708 95.8814 607.521 94.1588C609.335 92.4361 610.241 89.9428 610.241 86.6788C610.241 83.5961 609.289 81.1934 607.385 79.4708C605.572 77.6574 602.897 76.7508 599.361 76.7508H586.169V96.7428ZM710.899 150.327L680.843 108.303V150.327H654.187V54.4468H680.843V95.7908L710.627 54.4468H741.363L706.139 100.959L743.131 150.327H710.899Z" fill="#8C8C8C"/>
          <path d="M135.743 54.4468V150.327H109.087V97.4228L90.999 150.327H68.695L50.471 97.0148V150.327H23.815V54.4468H56.047L80.119 116.735L103.647 54.4468H135.743ZM242.853 54.4468L209.125 119.863V150.327H182.333V119.863L148.605 54.4468H179.069L195.933 91.4388L212.797 54.4468H242.853ZM421.635 54.4468L398.107 150.327H365.331L352.139 91.5748L338.675 150.327H305.899L282.643 54.4468H311.475L322.627 119.999L337.723 54.4468H366.963L381.651 119.455L392.803 54.4468H421.635ZM483.675 151.279C474.699 151.279 466.448 149.193 458.923 145.023C451.397 140.761 445.413 134.913 440.971 127.479C436.619 119.953 434.443 111.476 434.443 102.047C434.443 92.6174 436.619 84.1854 440.971 76.7508C445.413 69.2254 451.397 63.3774 458.923 59.2068C466.448 55.0361 474.699 52.9508 483.675 52.9508C492.741 52.9508 500.992 55.0361 508.427 59.2068C515.952 63.3774 521.891 69.2254 526.243 76.7508C530.595 84.1854 532.771 92.6174 532.771 102.047C532.771 111.476 530.595 119.953 526.243 127.479C521.891 134.913 515.952 140.761 508.427 145.023C500.901 149.193 492.651 151.279 483.675 151.279ZM483.675 126.527C490.475 126.527 495.824 124.305 499.723 119.863C503.712 115.42 505.707 109.481 505.707 102.047C505.707 94.4308 503.712 88.4468 499.723 84.0948C495.824 79.6521 490.475 77.4308 483.675 77.4308C476.784 77.4308 471.389 79.6521 467.491 84.0948C463.592 88.4468 461.643 94.4308 461.643 102.047C461.643 109.572 463.592 115.556 467.491 119.999C471.389 124.351 476.784 126.527 483.675 126.527ZM598.065 150.327L579.025 114.967H576.169V150.327H549.513V54.4468H591.537C599.244 54.4468 605.772 55.8068 611.121 58.5268C616.471 61.1561 620.505 64.8281 623.225 69.5428C625.945 74.1668 627.305 79.3801 627.305 85.1828C627.305 91.7108 625.492 97.4681 621.865 102.455C618.329 107.351 613.116 110.841 606.225 112.927L627.849 150.327H598.065ZM576.169 96.7428H589.361C592.988 96.7428 595.708 95.8814 597.521 94.1588C599.335 92.4361 600.241 89.9428 600.241 86.6788C600.241 83.5961 599.289 81.1934 597.385 79.4708C595.572 77.6574 592.897 76.7508 589.361 76.7508H576.169V96.7428ZM700.899 150.327L670.843 108.303V150.327H644.187V54.4468H670.843V95.7908L700.627 54.4468H731.363L696.139 100.959L733.131 150.327H700.899Z" fill="white"/>
        </svg>
        <div class="border-header border-proj-header"></div>
      </div>

      <div class="portfolio-overview">
        <div class="project project-one">
          <h3>PROJECT #1</h3>
          <div class="project-info">
            <div class="project-arrow">
              <h2 id="dish-advisor">DISH ADVISOR</h2>
              <svg width="96" height="75" viewBox="0 0 96 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M94.242 40.8627C96.1946 38.9101 96.1946 35.7442 94.242 33.7916L62.4222 1.97181C60.4695 0.0191848 57.3037 0.0191851 55.3511 1.97181C53.3985 3.92443 53.3985 7.09025 55.3511 9.04287L83.6354 37.3271L55.3511 65.6114C53.3985 67.564 53.3985 70.7299 55.3511 72.6825C57.3037 74.6351 60.4695 74.6351 62.4222 72.6825L94.242 40.8627ZM0.705079 42.3272L90.7064 42.3271L90.7064 32.3271L0.705078 32.3272L0.705079 42.3272Z" fill="#F5FFF4"/>
              </svg>
            </div>
            <div class="border-project border-proj-one"></div>
          </div>
        </div>

        <div class="project project-two">
          <h3>PROJECT #2</h3>
          <div class="project-info">
            <div class="project-arrow">
              <h2 id="tropic-hot">TROPIC LIKE IT'S HOT</h2>
              <svg width="96" height="75" viewBox="0 0 96 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M93.8477 40.9365C95.8003 38.9839 95.8003 35.8181 93.8477 33.8655L62.0279 2.04566C60.0753 0.0930373 56.9094 0.0930376 54.9568 2.04566C53.0042 3.99828 53.0042 7.16411 54.9568 9.11673L83.2411 37.401L54.9568 65.6853C53.0042 67.6379 53.0042 70.8037 54.9568 72.7563C56.9094 74.709 60.0753 74.709 62.0279 72.7563L93.8477 40.9365ZM0.310791 42.401L90.3121 42.401L90.3121 32.401L0.310791 32.401L0.310791 42.401Z" fill="#E2EEFF"/>
              </svg>
            </div>
            <div class="border-project border-proj-two"></div>
          </div>
        </div>
        
        <div class="project project-three">
          <h3>PROJECT #3</h3>
          <div class="project-info">
            <div class="project-arrow">
              <h2 id="this-site">THIS WEBSITE . . .</h2>
              <svg width="96" height="75" viewBox="0 0 96 75" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M93.5369 41.2295C95.4895 39.2769 95.4895 36.1111 93.5369 34.1584L61.7171 2.33863C59.7645 0.386006 56.5986 0.386006 54.646 2.33863C52.6934 4.29125 52.6934 7.45707 54.646 9.4097L82.9303 37.694L54.646 65.9782C52.6934 67.9309 52.6934 71.0967 54.646 73.0493C56.5986 75.0019 59.7645 75.0019 61.7171 73.0493L93.5369 41.2295ZM4.80423e-07 42.694L90.0014 42.694L90.0014 32.694L-4.80423e-07 32.694L4.80423e-07 42.694Z" fill="#FFEEFD"/>
              </svg>
            </div>
            <div class="border-project border-proj-three"></div>
          </div>
        </div>
      </div>
    </div>

<%# Section 4 - Skills %>
    <div class="section-four">
      <div class="skills-header">
        <svg width="1183" height="136" viewBox="0 0 1183 136" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M410.5 117.542C399.43 117.542 390.34 114.932 383.23 109.712C376.12 104.402 372.295 96.8424 371.755 87.0324H399.97C400.24 90.3624 401.23 92.7924 402.94 94.3224C404.65 95.8524 406.855 96.6174 409.555 96.6174C411.985 96.6174 413.965 96.0324 415.495 94.8624C417.115 93.6024 417.925 91.8924 417.925 89.7324C417.925 86.9424 416.62 84.7824 414.01 83.2524C411.4 81.7224 407.17 80.0124 401.32 78.1224C395.11 76.0524 390.07 74.0724 386.2 72.1824C382.42 70.2024 379.09 67.3674 376.21 63.6774C373.42 59.8974 372.025 54.9924 372.025 48.9624C372.025 42.8424 373.555 37.6224 376.615 33.3024C379.675 28.8924 383.905 25.5624 389.305 23.3124C394.705 21.0624 400.825 19.9374 407.665 19.9374C418.735 19.9374 427.555 22.5474 434.125 27.7674C440.785 32.8974 444.34 40.1424 444.79 49.5024H416.035C415.945 46.6224 415.045 44.4624 413.335 43.0224C411.715 41.5824 409.6 40.8624 406.99 40.8624C405.01 40.8624 403.39 41.4474 402.13 42.6174C400.87 43.7874 400.24 45.4524 400.24 47.6124C400.24 49.4124 400.915 50.9874 402.265 52.3374C403.705 53.5974 405.46 54.7224 407.53 55.7124C409.6 56.6124 412.66 57.7824 416.71 59.2224C422.74 61.2924 427.69 63.3624 431.56 65.4324C435.52 67.4124 438.895 70.2474 441.685 73.9374C444.565 77.5374 446.005 82.1274 446.005 87.7074C446.005 93.3774 444.565 98.4624 441.685 102.962C438.895 107.462 434.8 111.017 429.4 113.627C424.09 116.237 417.79 117.542 410.5 117.542ZM518.651 116.597L488.816 74.8824V116.597H462.356V21.4224H488.816V62.4624L518.381 21.4224H548.891L513.926 67.5924L550.646 116.597H518.651ZM590.82 21.4224V116.597H564.36V21.4224H590.82ZM636.399 96.3474H665.964V116.597H609.939V21.4224H636.399V96.3474ZM706.762 96.3474H736.327V116.597H680.302V21.4224H706.762V96.3474ZM786.576 117.542C775.506 117.542 766.416 114.932 759.306 109.712C752.196 104.402 748.371 96.8424 747.831 87.0324H776.046C776.316 90.3624 777.306 92.7924 779.016 94.3224C780.726 95.8524 782.931 96.6174 785.631 96.6174C788.061 96.6174 790.041 96.0324 791.571 94.8624C793.191 93.6024 794.001 91.8924 794.001 89.7324C794.001 86.9424 792.696 84.7824 790.086 83.2524C787.476 81.7224 783.246 80.0124 777.396 78.1224C771.186 76.0524 766.146 74.0724 762.276 72.1824C758.496 70.2024 755.166 67.3674 752.286 63.6774C749.496 59.8974 748.101 54.9924 748.101 48.9624C748.101 42.8424 749.631 37.6224 752.691 33.3024C755.751 28.8924 759.981 25.5624 765.381 23.3124C770.781 21.0624 776.901 19.9374 783.741 19.9374C794.811 19.9374 803.631 22.5474 810.201 27.7674C816.861 32.8974 820.416 40.1424 820.866 49.5024H792.111C792.021 46.6224 791.121 44.4624 789.411 43.0224C787.791 41.5824 785.676 40.8624 783.066 40.8624C781.086 40.8624 779.466 41.4474 778.206 42.6174C776.946 43.7874 776.316 45.4524 776.316 47.6124C776.316 49.4124 776.991 50.9874 778.341 52.3374C779.781 53.5974 781.536 54.7224 783.606 55.7124C785.676 56.6124 788.736 57.7824 792.786 59.2224C798.816 61.2924 803.766 63.3624 807.636 65.4324C811.596 67.4124 814.971 70.2474 817.761 73.9374C820.641 77.5374 822.081 82.1274 822.081 87.7074C822.081 93.3774 820.641 98.4624 817.761 102.962C814.971 107.462 810.876 111.017 805.476 113.627C800.166 116.237 793.866 117.542 786.576 117.542Z" fill="#8F8F8F"/>
          <path d="M399.5 115.542C388.43 115.542 379.34 112.932 372.23 107.712C365.12 102.402 361.295 94.8424 360.755 85.0324H388.97C389.24 88.3624 390.23 90.7924 391.94 92.3224C393.65 93.8524 395.855 94.6174 398.555 94.6174C400.985 94.6174 402.965 94.0324 404.495 92.8624C406.115 91.6024 406.925 89.8924 406.925 87.7324C406.925 84.9424 405.62 82.7824 403.01 81.2524C400.4 79.7224 396.17 78.0124 390.32 76.1224C384.11 74.0524 379.07 72.0724 375.2 70.1824C371.42 68.2024 368.09 65.3674 365.21 61.6774C362.42 57.8974 361.025 52.9924 361.025 46.9624C361.025 40.8424 362.555 35.6224 365.615 31.3024C368.675 26.8924 372.905 23.5624 378.305 21.3124C383.705 19.0624 389.825 17.9374 396.665 17.9374C407.735 17.9374 416.555 20.5474 423.125 25.7674C429.785 30.8974 433.34 38.1424 433.79 47.5024H405.035C404.945 44.6224 404.045 42.4624 402.335 41.0224C400.715 39.5824 398.6 38.8624 395.99 38.8624C394.01 38.8624 392.39 39.4474 391.13 40.6174C389.87 41.7874 389.24 43.4524 389.24 45.6124C389.24 47.4124 389.915 48.9874 391.265 50.3374C392.705 51.5974 394.46 52.7224 396.53 53.7124C398.6 54.6124 401.66 55.7824 405.71 57.2224C411.74 59.2924 416.69 61.3624 420.56 63.4324C424.52 65.4124 427.895 68.2474 430.685 71.9374C433.565 75.5374 435.005 80.1274 435.005 85.7074C435.005 91.3774 433.565 96.4624 430.685 100.962C427.895 105.462 423.8 109.017 418.4 111.627C413.09 114.237 406.79 115.542 399.5 115.542ZM507.651 114.597L477.816 72.8824V114.597H451.356V19.4224H477.816V60.4624L507.381 19.4224H537.891L502.926 65.5924L539.646 114.597H507.651ZM579.82 19.4224V114.597H553.36V19.4224H579.82ZM625.399 94.3474H654.964V114.597H598.939V19.4224H625.399V94.3474ZM695.762 94.3474H725.327V114.597H669.302V19.4224H695.762V94.3474ZM775.576 115.542C764.506 115.542 755.416 112.932 748.306 107.712C741.196 102.402 737.371 94.8424 736.831 85.0324H765.046C765.316 88.3624 766.306 90.7924 768.016 92.3224C769.726 93.8524 771.931 94.6174 774.631 94.6174C777.061 94.6174 779.041 94.0324 780.571 92.8624C782.191 91.6024 783.001 89.8924 783.001 87.7324C783.001 84.9424 781.696 82.7824 779.086 81.2524C776.476 79.7224 772.246 78.0124 766.396 76.1224C760.186 74.0524 755.146 72.0724 751.276 70.1824C747.496 68.2024 744.166 65.3674 741.286 61.6774C738.496 57.8974 737.101 52.9924 737.101 46.9624C737.101 40.8424 738.631 35.6224 741.691 31.3024C744.751 26.8924 748.981 23.5624 754.381 21.3124C759.781 19.0624 765.901 17.9374 772.741 17.9374C783.811 17.9374 792.631 20.5474 799.201 25.7674C805.861 30.8974 809.416 38.1424 809.866 47.5024H781.111C781.021 44.6224 780.121 42.4624 778.411 41.0224C776.791 39.5824 774.676 38.8624 772.066 38.8624C770.086 38.8624 768.466 39.4474 767.206 40.6174C765.946 41.7874 765.316 43.4524 765.316 45.6124C765.316 47.4124 765.991 48.9874 767.341 50.3374C768.781 51.5974 770.536 52.7224 772.606 53.7124C774.676 54.6124 777.736 55.7824 781.786 57.2224C787.816 59.2924 792.766 61.3624 796.636 63.4324C800.596 65.4124 803.971 68.2474 806.761 71.9374C809.641 75.5374 811.081 80.1274 811.081 85.7074C811.081 91.3774 809.641 96.4624 806.761 100.962C803.971 105.462 799.876 109.017 794.476 111.627C789.166 114.237 782.866 115.542 775.576 115.542Z" fill="white"/>
        </svg>
      </div>

      <div class="skills-content">
        <div class="skill skills-one">
          <h3>RUBY.</h3>
          <h3>RUBY ON RAILS.</h3>
          <h3>REACT.</h3>
        </div>
        <div class=" skill skills-two">
          <h3>JAVASCRIPT.</h3>
          <h3>CSS.</h3>
          <h3>3D DESIGN.</h3>
        </div>
        <div class="skill skills-three">
          <h3>BOOTSTRAP.</h3>
          <h3>GITHUB.</h3>
          <h3>HEROKU.</h3>
        </div>
        <div class="skill skills-four">
          <h3>PHOTOSHOP.</h3>
          <h3>HTML5.</h3>
          <h3>MATLAB.</h3>
        </div>
        <div class="skill skills-five">
          <h3>NODE.JS.</h3>
          <h3>UI/UX.</h3>
          <h3>POSTGRESQL.</h3>
        </div>
      </div>
    </div>
    
</div>