<div class="cursor">
    <div class="cursor__ball cursor__ball--big ">
      <svg height="30" width="30">
        <circle cx="15" cy="15" r="12" stroke-width="0"></circle>
      </svg>
    </div>
    
    <div class="cursor__ball cursor__ball--small">
      <svg height="10" width="10">
        <circle cx="5" cy="5" r="4" stroke-width="0"></circle>
      </svg>
    </div>
  </div>
<div class="wrapper-position">
    
<%= render "shared/navbar" %>
    

<%# Section 1 - Banner %>
    <header>
    <%= link_to root_path do %>
      <h3 class="name-heading">MEEHIR <span>PATEL</span></h3>
    <% end %>
    <h1 class="big-title translate" data-speed="0.25 ">WELCOME.</h1>
      <%= cl_image_tag("personal-profile/hill1_min_banner.png", class: "hill1 translate", data: {speed:"0.13"})%>
      <%= cl_image_tag("personal-profile/hill2-min_ynxfxm.png", class: "hill2 translate", data: {speed:"0"})%>
      <%= cl_image_tag("personal-profile/mountain1_sgfyrp.png", class: "mountain1 translate", data: {speed:"-0.05"})%>
      <%= cl_image_tag("personal-profile/mountain2_mpmfnn.png", class: "mountain2 translate", data: {speed:"-0.2"})%>
      <%= cl_image_tag("personal-profile/sky_spj6dq.png", class: "sky translate", data: {speed:"0.5"})%>
    </header>

<%# Section 2 - Intro %>
    <div class="section">
      <div class="shadow"></div>
      <div class="container intro-banners hover">
        <%= cl_image_tag("personal-profile/Stack_1_ualzdm.png", class: "top-stack slide-in")%>
        <%= cl_image_tag("personal-profile/Stack_2_lzb2ng.png", class: "second-stack")%>
        <%= cl_image_tag("personal-profile/Stack_3_af5fd3.png", class: "third-stack")%>
        <%= cl_image_tag("personal-profile/Stack_4_bsf6xo.png", class: "fourth-stack")%> 
      </div>
    </div>

<%# Section 3 - Portfolio %>
    <div class="section-three" id="portfolio">

      <div class="portfolio-header" >
        <svg width="761" height="152" viewBox="0 0 761 152" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M145.743 54.4468V150.327H119.087V97.4228L100.999 150.327H78.695L60.471 97.0148V150.327H33.815V54.4468H66.047L90.119 116.735L113.647 54.4468H145.743ZM252.853 54.4468L219.125 119.863V150.327H192.333V119.863L158.605 54.4468H189.069L205.933 91.4388L222.797 54.4468H252.853ZM431.635 54.4468L408.107 150.327H375.331L362.139 91.5748L348.675 150.327H315.899L292.643 54.4468H321.475L332.627 119.999L347.723 54.4468H376.963L391.651 119.455L402.803 54.4468H431.635ZM493.675 151.279C484.699 151.279 476.448 149.193 468.923 145.023C461.397 140.761 455.413 134.913 450.971 127.479C446.619 119.953 444.443 111.476 444.443 102.047C444.443 92.6174 446.619 84.1854 450.971 76.7508C455.413 69.2254 461.397 63.3774 468.923 59.2068C476.448 55.0361 484.699 52.9508 493.675 52.9508C502.741 52.9508 510.992 55.0361 518.427 59.2068C525.952 63.3774 531.891 69.2254 536.243 76.7508C540.595 84.1854 542.771 92.6174 542.771 102.047C542.771 111.476 540.595 119.953 536.243 127.479C531.891 134.913 525.952 140.761 518.427 145.023C510.901 149.193 502.651 151.279 493.675 151.279ZM493.675 126.527C500.475 126.527 505.824 124.305 509.723 119.863C513.712 115.42 515.707 109.481 515.707 102.047C515.707 94.4308 513.712 88.4468 509.723 84.0948C505.824 79.6521 500.475 77.4308 493.675 77.4308C486.784 77.4308 481.389 79.6521 477.491 84.0948C473.592 88.4468 471.643 94.4308 471.643 102.047C471.643 109.572 473.592 115.556 477.491 119.999C481.389 124.351 486.784 126.527 493.675 126.527ZM608.065 150.327L589.025 114.967H586.169V150.327H559.513V54.4468H601.537C609.244 54.4468 615.772 55.8068 621.121 58.5268C626.471 61.1561 630.505 64.8281 633.225 69.5428C635.945 74.1668 637.305 79.3801 637.305 85.1828C637.305 91.7108 635.492 97.4681 631.865 102.455C628.329 107.351 623.116 110.841 616.225 112.927L637.849 150.327H608.065ZM586.169 96.7428H599.361C602.988 96.7428 605.708 95.8814 607.521 94.1588C609.335 92.4361 610.241 89.9428 610.241 86.6788C610.241 83.5961 609.289 81.1934 607.385 79.4708C605.572 77.6574 602.897 76.7508 599.361 76.7508H586.169V96.7428ZM710.899 150.327L680.843 108.303V150.327H654.187V54.4468H680.843V95.7908L710.627 54.4468H741.363L706.139 100.959L743.131 150.327H710.899Z" fill="url(#paint0_linear)"/>
          <path d="M135.743 54.4468V150.327H109.087V97.4228L90.999 150.327H68.695L50.471 97.0148V150.327H23.815V54.4468H56.047L80.119 116.735L103.647 54.4468H135.743ZM242.853 54.4468L209.125 119.863V150.327H182.333V119.863L148.605 54.4468H179.069L195.933 91.4388L212.797 54.4468H242.853ZM421.635 54.4468L398.107 150.327H365.331L352.139 91.5748L338.675 150.327H305.899L282.643 54.4468H311.475L322.627 119.999L337.723 54.4468H366.963L381.651 119.455L392.803 54.4468H421.635ZM483.675 151.279C474.699 151.279 466.448 149.193 458.923 145.023C451.397 140.761 445.413 134.913 440.971 127.479C436.619 119.953 434.443 111.476 434.443 102.047C434.443 92.6174 436.619 84.1854 440.971 76.7508C445.413 69.2254 451.397 63.3774 458.923 59.2068C466.448 55.0361 474.699 52.9508 483.675 52.9508C492.741 52.9508 500.992 55.0361 508.427 59.2068C515.952 63.3774 521.891 69.2254 526.243 76.7508C530.595 84.1854 532.771 92.6174 532.771 102.047C532.771 111.476 530.595 119.953 526.243 127.479C521.891 134.913 515.952 140.761 508.427 145.023C500.901 149.193 492.651 151.279 483.675 151.279ZM483.675 126.527C490.475 126.527 495.824 124.305 499.723 119.863C503.712 115.42 505.707 109.481 505.707 102.047C505.707 94.4308 503.712 88.4468 499.723 84.0948C495.824 79.6521 490.475 77.4308 483.675 77.4308C476.784 77.4308 471.389 79.6521 467.491 84.0948C463.592 88.4468 461.643 94.4308 461.643 102.047C461.643 109.572 463.592 115.556 467.491 119.999C471.389 124.351 476.784 126.527 483.675 126.527ZM598.065 150.327L579.025 114.967H576.169V150.327H549.513V54.4468H591.537C599.244 54.4468 605.772 55.8068 611.121 58.5268C616.471 61.1561 620.505 64.8281 623.225 69.5428C625.945 74.1668 627.305 79.3801 627.305 85.1828C627.305 91.7108 625.492 97.4681 621.865 102.455C618.329 107.351 613.116 110.841 606.225 112.927L627.849 150.327H598.065ZM576.169 96.7428H589.361C592.988 96.7428 595.708 95.8814 597.521 94.1588C599.335 92.4361 600.241 89.9428 600.241 86.6788C600.241 83.5961 599.289 81.1934 597.385 79.4708C595.572 77.6574 592.897 76.7508 589.361 76.7508H576.169V96.7428ZM700.899 150.327L670.843 108.303V150.327H644.187V54.4468H670.843V95.7908L700.627 54.4468H731.363L696.139 100.959L733.131 150.327H700.899Z" fill="white"/>
          <defs>
          <linearGradient id="paint0_linear" x1="385.095" y1="61.6678" x2="385.095" y2="148.594" gradientUnits="userSpaceOnUse">
          <stop stop-color="#D59FFF"/>
          <stop offset="1" stop-color="#00759A"/>
          </linearGradient>
          </defs>
        </svg>
        <div class="border-header border-proj-header"></div>
      </div>

      <div class="portfolio-overview">
        <%= link_to "https://youtu.be/lmQx0AHFbuA?t=1995", target: :_blank do  %>
          <div class="project project-one">
            <div class="project-header">
              <h3>PROJECT #1</h3>
              <div class="stackuse">
                <%= cl_image_tag("ruby_icon.png", class:"stack-icon") %>
                <%= cl_image_tag("rails_icon.png", class:"stack-icon") %>
                <%= cl_image_tag("javascript_icon.png", class:"stack-icon") %>
                <%= cl_image_tag("heroku_icon.png", class:"stack-icon") %>
                <%= cl_image_tag("postgresql_icon.png", class:"stack-icon") %>
              </div>
            </div>
            <div class="project-info">
              <div class="project-arrow">
                <h2 id="dish-advisor">DISH ADVISOR</h2>
                <svg width="70" height="65" viewBox="0 0 50 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2269 0.368774H1.62486C0.337864 0.368774 -0.429136 1.80277 0.284864 2.87277L12.4939 21.1858C12.8539 21.7268 12.8539 22.4318 12.4939 22.9728L0.284864 41.2868C-0.429136 42.3568 0.337864 43.7908 1.62486 43.7908H12.2269C12.7659 43.7908 13.2689 43.5218 13.5669 43.0738L26.9679 22.9728C27.3279 22.4318 27.3279 21.7268 26.9679 21.1858L13.5669 1.08677C13.2689 0.638774 12.7659 0.368774 12.2269 0.368774ZM33.9389 0.368774H23.3359C22.0489 0.368774 21.2819 1.80277 21.9959 2.87277L34.2049 21.1858C34.5649 21.7268 34.5649 22.4318 34.2049 22.9728L21.9959 41.2868C21.2819 42.3568 22.0489 43.7908 23.3359 43.7908H33.9389C34.4769 43.7908 34.9799 43.5218 35.2779 43.0738L48.6789 22.9728C49.0389 22.4318 49.0389 21.7268 48.6789 21.1858L35.2779 1.08677C34.9799 0.638774 34.4769 0.368774 33.9389 0.368774Z" fill="white"/>
                </svg>
              </div>
              <div class="border-project border-proj-one"></div>
            </div>
          </div>
        <% end %>
        
        <%= link_to "http://tropic-like-its-hot.herokuapp.com/", target: :_blank do %>
          <div class="project project-two">
            <div class="project-header">
              <h3>PROJECT #1</h3>
              <div class="stackuse">
                <%= cl_image_tag("ruby_icon.png", class:"stack-icon") %>
                <%= cl_image_tag("rails_icon.png", class:"stack-icon") %>
                <%= cl_image_tag("javascript_icon.png", class:"stack-icon") %>
                <%= cl_image_tag("heroku_icon.png", class:"stack-icon") %>
                <%= cl_image_tag("postgresql_icon.png", class:"stack-icon") %>
                <%= cl_image_tag("bootstrap_icon.png", class:"stack-icon") %>
              </div>
            </div>
            <div class="project-info">
              <div class="project-arrow">
                <h2 id="tropic-hot">TROPIC LIKE IT'S HOT</h2>
                <svg width="70" height="65" viewBox="0 0 50 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2269 0.368774H1.62486C0.337864 0.368774 -0.429136 1.80277 0.284864 2.87277L12.4939 21.1858C12.8539 21.7268 12.8539 22.4318 12.4939 22.9728L0.284864 41.2868C-0.429136 42.3568 0.337864 43.7908 1.62486 43.7908H12.2269C12.7659 43.7908 13.2689 43.5218 13.5669 43.0738L26.9679 22.9728C27.3279 22.4318 27.3279 21.7268 26.9679 21.1858L13.5669 1.08677C13.2689 0.638774 12.7659 0.368774 12.2269 0.368774ZM33.9389 0.368774H23.3359C22.0489 0.368774 21.2819 1.80277 21.9959 2.87277L34.2049 21.1858C34.5649 21.7268 34.5649 22.4318 34.2049 22.9728L21.9959 41.2868C21.2819 42.3568 22.0489 43.7908 23.3359 43.7908H33.9389C34.4769 43.7908 34.9799 43.5218 35.2779 43.0738L48.6789 22.9728C49.0389 22.4318 49.0389 21.7268 48.6789 21.1858L35.2779 1.08677C34.9799 0.638774 34.4769 0.368774 33.9389 0.368774Z" fill="white"/>
                </svg>
              </div>
              <div class="border-project border-proj-two"></div>
            </div>
          </div>
        <% end %>
        
        <%= link_to "#" do  %>
          <div class="project project-three">
            <div class="project-header">
              <h3>PROJECT #3</h3>
              <div class="stackuse">
                <%= cl_image_tag("ruby_icon.png", class:"stack-icon") %>
                <%= cl_image_tag("javascript_icon.png", class:"stack-icon") %>
                <%= cl_image_tag("heroku_icon.png", class:"stack-icon") %>
                <%= cl_image_tag("figma_icon.png", class:"stack-icon") %>
                <%= cl_image_tag("photoshop_icon.png", class:"stack-icon") %>
                <%= cl_image_tag("spline_icon.png", class:"stack-icon") %>
              </div>
            </div>
            <div class="project-info">
              <div class="project-arrow">
                <h2 id="this-site">THIS WEBSITE</h2>
                <svg width="70" height="65" viewBox="0 0 50 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2269 0.368774H1.62486C0.337864 0.368774 -0.429136 1.80277 0.284864 2.87277L12.4939 21.1858C12.8539 21.7268 12.8539 22.4318 12.4939 22.9728L0.284864 41.2868C-0.429136 42.3568 0.337864 43.7908 1.62486 43.7908H12.2269C12.7659 43.7908 13.2689 43.5218 13.5669 43.0738L26.9679 22.9728C27.3279 22.4318 27.3279 21.7268 26.9679 21.1858L13.5669 1.08677C13.2689 0.638774 12.7659 0.368774 12.2269 0.368774ZM33.9389 0.368774H23.3359C22.0489 0.368774 21.2819 1.80277 21.9959 2.87277L34.2049 21.1858C34.5649 21.7268 34.5649 22.4318 34.2049 22.9728L21.9959 41.2868C21.2819 42.3568 22.0489 43.7908 23.3359 43.7908H33.9389C34.4769 43.7908 34.9799 43.5218 35.2779 43.0738L48.6789 22.9728C49.0389 22.4318 49.0389 21.7268 48.6789 21.1858L35.2779 1.08677C34.9799 0.638774 34.4769 0.368774 33.9389 0.368774Z" fill="white"/>
                </svg>
              </div>
              <div class="border-project border-proj-three"></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

<%# Section 4 - Skills %>
    <div class="section-four" >
      <div class="skills-header"  id="skills">
        <svg width="761" height="152" viewBox="0 0 761 152" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M196.219 151.279C185.067 151.279 175.909 148.649 168.747 143.391C161.584 138.041 157.731 130.425 157.187 120.543H185.611C185.883 123.897 186.88 126.345 188.603 127.887C190.325 129.428 192.547 130.199 195.267 130.199C197.715 130.199 199.709 129.609 201.251 128.431C202.883 127.161 203.699 125.439 203.699 123.263C203.699 120.452 202.384 118.276 199.755 116.735C197.125 115.193 192.864 113.471 186.971 111.567C180.715 109.481 175.637 107.487 171.739 105.583C167.931 103.588 164.576 100.732 161.675 97.0148C158.864 93.2068 157.459 88.2654 157.459 82.1908C157.459 76.0254 159 70.7668 162.083 66.4148C165.165 61.9721 169.427 58.6174 174.867 56.3508C180.307 54.0841 186.472 52.9508 193.363 52.9508C204.515 52.9508 213.4 55.5801 220.019 60.8388C226.728 66.0068 230.309 73.3054 230.763 82.7348H201.795C201.704 79.8334 200.797 77.6574 199.075 76.2068C197.443 74.7561 195.312 74.0308 192.683 74.0308C190.688 74.0308 189.056 74.6201 187.787 75.7988C186.517 76.9774 185.883 78.6548 185.883 80.8308C185.883 82.6441 186.563 84.2308 187.923 85.5908C189.373 86.8601 191.141 87.9934 193.227 88.9908C195.312 89.8974 198.395 91.0761 202.475 92.5268C208.549 94.6121 213.536 96.6974 217.435 98.7828C221.424 100.777 224.824 103.633 227.635 107.351C230.536 110.977 231.987 115.601 231.987 121.223C231.987 126.935 230.536 132.057 227.635 136.591C224.824 141.124 220.699 144.705 215.259 147.335C209.909 149.964 203.563 151.279 196.219 151.279ZM305.851 150.327L275.795 108.303V150.327H249.139V54.4468H275.795V95.7908L305.579 54.4468H336.315L301.091 100.959L338.083 150.327H305.851ZM379.234 54.4468V150.327H352.578V54.4468H379.234ZM425.83 129.927H455.614V150.327H399.174V54.4468H425.83V129.927ZM497.395 129.927H527.179V150.327H470.739V54.4468H497.395V129.927ZM578.48 151.279C567.328 151.279 558.17 148.649 551.008 143.391C543.845 138.041 539.992 130.425 539.448 120.543H567.872C568.144 123.897 569.141 126.345 570.864 127.887C572.586 129.428 574.808 130.199 577.528 130.199C579.976 130.199 581.97 129.609 583.512 128.431C585.144 127.161 585.96 125.439 585.96 123.263C585.96 120.452 584.645 118.276 582.016 116.735C579.386 115.193 575.125 113.471 569.232 111.567C562.976 109.481 557.898 107.487 554 105.583C550.192 103.588 546.837 100.732 543.936 97.0148C541.125 93.2068 539.72 88.2654 539.72 82.1908C539.72 76.0254 541.261 70.7668 544.344 66.4148C547.426 61.9721 551.688 58.6174 557.128 56.3508C562.568 54.0841 568.733 52.9508 575.624 52.9508C586.776 52.9508 595.661 55.5801 602.28 60.8388C608.989 66.0068 612.57 73.3054 613.024 82.7348H584.056C583.965 79.8334 583.058 77.6574 581.336 76.2068C579.704 74.7561 577.573 74.0308 574.944 74.0308C572.949 74.0308 571.317 74.6201 570.048 75.7988C568.778 76.9774 568.144 78.6548 568.144 80.8308C568.144 82.6441 568.824 84.2308 570.184 85.5908C571.634 86.8601 573.402 87.9934 575.488 88.9908C577.573 89.8974 580.656 91.0761 584.736 92.5268C590.81 94.6121 595.797 96.6974 599.696 98.7828C603.685 100.777 607.085 103.633 609.896 107.351C612.797 110.977 614.248 115.601 614.248 121.223C614.248 126.935 612.797 132.057 609.896 136.591C607.085 141.124 602.96 144.705 597.52 147.335C592.17 149.964 585.824 151.279 578.48 151.279Z" fill="url(#paint0_linear)"/>
          <path d="M186.219 151.279C175.067 151.279 165.909 148.649 158.747 143.391C151.584 138.041 147.731 130.425 147.187 120.543H175.611C175.883 123.897 176.88 126.345 178.603 127.887C180.325 129.428 182.547 130.199 185.267 130.199C187.715 130.199 189.709 129.609 191.251 128.431C192.883 127.161 193.699 125.439 193.699 123.263C193.699 120.452 192.384 118.276 189.755 116.735C187.125 115.193 182.864 113.471 176.971 111.567C170.715 109.481 165.637 107.487 161.739 105.583C157.931 103.588 154.576 100.732 151.675 97.0148C148.864 93.2068 147.459 88.2654 147.459 82.1908C147.459 76.0254 149 70.7668 152.083 66.4148C155.165 61.9721 159.427 58.6174 164.867 56.3508C170.307 54.0841 176.472 52.9508 183.363 52.9508C194.515 52.9508 203.4 55.5801 210.019 60.8388C216.728 66.0068 220.309 73.3054 220.763 82.7348H191.795C191.704 79.8334 190.797 77.6574 189.075 76.2068C187.443 74.7561 185.312 74.0308 182.683 74.0308C180.688 74.0308 179.056 74.6201 177.787 75.7988C176.517 76.9774 175.883 78.6548 175.883 80.8308C175.883 82.6441 176.563 84.2308 177.923 85.5908C179.373 86.8601 181.141 87.9934 183.227 88.9908C185.312 89.8974 188.395 91.0761 192.475 92.5268C198.549 94.6121 203.536 96.6974 207.435 98.7828C211.424 100.777 214.824 103.633 217.635 107.351C220.536 110.977 221.987 115.601 221.987 121.223C221.987 126.935 220.536 132.057 217.635 136.591C214.824 141.124 210.699 144.705 205.259 147.335C199.909 149.964 193.563 151.279 186.219 151.279ZM295.851 150.327L265.795 108.303V150.327H239.139V54.4468H265.795V95.7908L295.579 54.4468H326.315L291.091 100.959L328.083 150.327H295.851ZM369.234 54.4468V150.327H342.578V54.4468H369.234ZM415.83 129.927H445.614V150.327H389.174V54.4468H415.83V129.927ZM487.395 129.927H517.179V150.327H460.739V54.4468H487.395V129.927ZM568.48 151.279C557.328 151.279 548.17 148.649 541.008 143.391C533.845 138.041 529.992 130.425 529.448 120.543H557.872C558.144 123.897 559.141 126.345 560.864 127.887C562.586 129.428 564.808 130.199 567.528 130.199C569.976 130.199 571.97 129.609 573.512 128.431C575.144 127.161 575.96 125.439 575.96 123.263C575.96 120.452 574.645 118.276 572.016 116.735C569.386 115.193 565.125 113.471 559.232 111.567C552.976 109.481 547.898 107.487 544 105.583C540.192 103.588 536.837 100.732 533.936 97.0148C531.125 93.2068 529.72 88.2654 529.72 82.1908C529.72 76.0254 531.261 70.7668 534.344 66.4148C537.426 61.9721 541.688 58.6174 547.128 56.3508C552.568 54.0841 558.733 52.9508 565.624 52.9508C576.776 52.9508 585.661 55.5801 592.28 60.8388C598.989 66.0068 602.57 73.3054 603.024 82.7348H574.056C573.965 79.8334 573.058 77.6574 571.336 76.2068C569.704 74.7561 567.573 74.0308 564.944 74.0308C562.949 74.0308 561.317 74.6201 560.048 75.7988C558.778 76.9774 558.144 78.6548 558.144 80.8308C558.144 82.6441 558.824 84.2308 560.184 85.5908C561.634 86.8601 563.402 87.9934 565.488 88.9908C567.573 89.8974 570.656 91.0761 574.736 92.5268C580.81 94.6121 585.797 96.6974 589.696 98.7828C593.685 100.777 597.085 103.633 599.896 107.351C602.797 110.977 604.248 115.601 604.248 121.223C604.248 126.935 602.797 132.057 599.896 136.591C597.085 141.124 592.96 144.705 587.52 147.335C582.17 149.964 575.824 151.279 568.48 151.279Z" fill="white"/>
          <defs>
          <linearGradient id="paint0_linear" x1="385.095" y1="61.6678" x2="385.095" y2="148.594" gradientUnits="userSpaceOnUse">
          <stop stop-color="#D59FFF"/>
          <stop offset="1" stop-color="#00759A"/>
          </linearGradient>
          </defs>
        </svg>
      </div>

      <div class="skills-content">
        <%= render "shared/modals" %>

        <div class="skill skills-one">
          <h3 id="ruby">RUBY.</h3>
          <h3 class="ruby-rails" id="rubyrails">RUBY ON RAILS.</h3>
          <h3 id="react">REACT.</h3>
        </div>
        <div class=" skill skills-two">
          <h3 id="javascript">JAVASCRIPT.</h3>
          <h3 id="css">CSS.</h3>
          <h3 id="threeddesign">3D DESIGN.</h3>
        </div>
        <div class="skill skills-three">
          <h3 id="bootstrap">BOOTSTRAP.</h3>
          <h3 id="github">GITHUB.</h3>
          <h3 id="heroku">HEROKU.</h3>
        </div>
        <div class="skill skills-four">
          <h3 id="photoshop">PHOTOSHOP.</h3>
          <h3 id="html">HTML5.</h3>
          <h3 id="matlab">MATLAB.</h3>
        </div>
        <div class="skill skills-five">
          <h3 id="node">NODE.JS.</h3>
          <h3 id="uiux">UI/UX.</h3>
          <h3 id="postgresql">POSTGRESQL.</h3>
        </div>
      </div>
    </div>

    <div class="section-five" id="services">
        <div class="services-header header-invis">
          <svg width="762" height="152" viewBox="0 0 762 152" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M85.9127 151.573C74.7607 151.573 65.6034 148.944 58.4407 143.685C51.278 138.336 47.4247 130.72 46.8807 120.837H75.3047C75.5767 124.192 76.574 126.64 78.2967 128.181C80.0194 129.722 82.2407 130.493 84.9607 130.493C87.4087 130.493 89.4034 129.904 90.9447 128.725C92.5767 127.456 93.3927 125.733 93.3927 123.557C93.3927 120.746 92.078 118.57 89.4487 117.029C86.8194 115.488 82.558 113.765 76.6647 111.861C70.4087 109.776 65.3314 107.781 61.4327 105.877C57.6247 103.882 54.27 101.026 51.3687 97.309C48.558 93.501 47.1527 88.5596 47.1527 82.485C47.1527 76.3196 48.694 71.061 51.7767 66.709C54.8594 62.2663 59.1207 58.9116 64.5607 56.645C70.0007 54.3783 76.166 53.245 83.0567 53.245C94.2087 53.245 103.094 55.8743 109.713 61.133C116.422 66.301 120.003 73.5996 120.457 83.029H91.4887C91.398 80.1276 90.4914 77.9516 88.7687 76.501C87.1367 75.0503 85.006 74.325 82.3767 74.325C80.382 74.325 78.75 74.9143 77.4807 76.093C76.2114 77.2716 75.5767 78.949 75.5767 81.125C75.5767 82.9383 76.2567 84.525 77.6167 85.885C79.0674 87.1543 80.8354 88.2876 82.9207 89.285C85.006 90.1916 88.0887 91.3703 92.1687 92.821C98.2434 94.9063 103.23 96.9916 107.129 99.077C111.118 101.072 114.518 103.928 117.329 107.645C120.23 111.272 121.681 115.896 121.681 121.517C121.681 127.229 120.23 132.352 117.329 136.885C114.518 141.418 110.393 145 104.953 147.629C99.6034 150.258 93.2567 151.573 85.9127 151.573ZM165.489 76.093V91.733H196.089V111.997H165.489V129.269H200.169V150.621H138.833V54.741H200.169V76.093H165.489ZM266.652 150.621L247.612 115.261H244.756V150.621H218.1V54.741H260.124C267.831 54.741 274.359 56.101 279.708 58.821C285.058 61.4503 289.092 65.1223 291.812 69.837C294.532 74.461 295.892 79.6743 295.892 85.477C295.892 92.005 294.079 97.7623 290.452 102.749C286.916 107.645 281.703 111.136 274.812 113.221L296.436 150.621H266.652ZM244.756 97.037H257.948C261.575 97.037 264.295 96.1756 266.108 94.453C267.922 92.7303 268.828 90.237 268.828 86.973C268.828 83.8903 267.876 81.4876 265.972 79.765C264.159 77.9516 261.484 77.045 257.948 77.045H244.756V97.037ZM406.071 54.741L373.023 150.621H338.887L305.703 54.741H334.263L356.023 123.965L377.647 54.741H406.071ZM445.792 54.741V150.621H419.136V54.741H445.792ZM462.468 102.477C462.468 93.0476 464.417 84.661 468.316 77.317C472.305 69.8823 477.927 64.125 485.18 60.045C492.433 55.8743 500.775 53.789 510.204 53.789C522.172 53.789 532.236 57.0076 540.396 63.445C548.556 69.7916 553.815 78.4503 556.172 89.421H527.476C525.753 85.7943 523.351 83.029 520.268 81.125C517.276 79.221 513.785 78.269 509.796 78.269C503.631 78.269 498.689 80.4903 494.972 84.933C491.345 89.285 489.532 95.133 489.532 102.477C489.532 109.912 491.345 115.85 494.972 120.293C498.689 124.645 503.631 126.821 509.796 126.821C513.785 126.821 517.276 125.869 520.268 123.965C523.351 122.061 525.753 119.296 527.476 115.669H556.172C553.815 126.64 548.556 135.344 540.396 141.781C532.236 148.128 522.172 151.301 510.204 151.301C500.775 151.301 492.433 149.261 485.18 145.181C477.927 141.01 472.305 135.253 468.316 127.909C464.417 120.474 462.468 111.997 462.468 102.477ZM600.21 76.093V91.733H630.81V111.997H600.21V129.269H634.89V150.621H573.554V54.741H634.89V76.093H600.21ZM688.998 151.573C677.846 151.573 668.689 148.944 661.526 143.685C654.364 138.336 650.51 130.72 649.966 120.837H678.39C678.662 124.192 679.66 126.64 681.382 128.181C683.105 129.722 685.326 130.493 688.046 130.493C690.494 130.493 692.489 129.904 694.03 128.725C695.662 127.456 696.478 125.733 696.478 123.557C696.478 120.746 695.164 118.57 692.534 117.029C689.905 115.488 685.644 113.765 679.75 111.861C673.494 109.776 668.417 107.781 664.518 105.877C660.71 103.882 657.356 101.026 654.454 97.309C651.644 93.501 650.238 88.5596 650.238 82.485C650.238 76.3196 651.78 71.061 654.862 66.709C657.945 62.2663 662.206 58.9116 667.646 56.645C673.086 54.3783 679.252 53.245 686.142 53.245C697.294 53.245 706.18 55.8743 712.798 61.133C719.508 66.301 723.089 73.5996 723.542 83.029H694.574C694.484 80.1276 693.577 77.9516 691.854 76.501C690.222 75.0503 688.092 74.325 685.462 74.325C683.468 74.325 681.836 74.9143 680.566 76.093C679.297 77.2716 678.662 78.949 678.662 81.125C678.662 82.9383 679.342 84.525 680.702 85.885C682.153 87.1543 683.921 88.2876 686.006 89.285C688.092 90.1916 691.174 91.3703 695.254 92.821C701.329 94.9063 706.316 96.9916 710.214 99.077C714.204 101.072 717.604 103.928 720.414 107.645C723.316 111.272 724.766 115.896 724.766 121.517C724.766 127.229 723.316 132.352 720.414 136.885C717.604 141.418 713.478 145 708.038 147.629C702.689 150.258 696.342 151.573 688.998 151.573Z" fill="url(#paint0_linear)"/>
            <path d="M75.9127 151.573C64.7607 151.573 55.6034 148.944 48.4407 143.685C41.278 138.336 37.4247 130.72 36.8807 120.837H65.3047C65.5767 124.192 66.574 126.64 68.2967 128.181C70.0194 129.722 72.2407 130.493 74.9607 130.493C77.4087 130.493 79.4034 129.904 80.9447 128.725C82.5767 127.456 83.3927 125.733 83.3927 123.557C83.3927 120.746 82.078 118.57 79.4487 117.029C76.8194 115.488 72.558 113.765 66.6647 111.861C60.4087 109.776 55.3314 107.781 51.4327 105.877C47.6247 103.882 44.27 101.026 41.3687 97.309C38.558 93.501 37.1527 88.5596 37.1527 82.485C37.1527 76.3196 38.694 71.061 41.7767 66.709C44.8594 62.2663 49.1207 58.9116 54.5607 56.645C60.0007 54.3783 66.166 53.245 73.0567 53.245C84.2087 53.245 93.094 55.8743 99.7127 61.133C106.422 66.301 110.003 73.5996 110.457 83.029H81.4887C81.398 80.1276 80.4914 77.9516 78.7687 76.501C77.1367 75.0503 75.006 74.325 72.3767 74.325C70.382 74.325 68.75 74.9143 67.4807 76.093C66.2114 77.2716 65.5767 78.949 65.5767 81.125C65.5767 82.9383 66.2567 84.525 67.6167 85.885C69.0674 87.1543 70.8354 88.2876 72.9207 89.285C75.006 90.1916 78.0887 91.3703 82.1687 92.821C88.2434 94.9063 93.23 96.9916 97.1287 99.077C101.118 101.072 104.518 103.928 107.329 107.645C110.23 111.272 111.681 115.896 111.681 121.517C111.681 127.229 110.23 132.352 107.329 136.885C104.518 141.418 100.393 145 94.9527 147.629C89.6034 150.258 83.2567 151.573 75.9127 151.573ZM155.489 76.093V91.733H186.089V111.997H155.489V129.269H190.169V150.621H128.833V54.741H190.169V76.093H155.489ZM256.652 150.621L237.612 115.261H234.756V150.621H208.1V54.741H250.124C257.831 54.741 264.359 56.101 269.708 58.821C275.058 61.4503 279.092 65.1223 281.812 69.837C284.532 74.461 285.892 79.6743 285.892 85.477C285.892 92.005 284.079 97.7623 280.452 102.749C276.916 107.645 271.703 111.136 264.812 113.221L286.436 150.621H256.652ZM234.756 97.037H247.948C251.575 97.037 254.295 96.1756 256.108 94.453C257.922 92.7303 258.828 90.237 258.828 86.973C258.828 83.8903 257.876 81.4876 255.972 79.765C254.159 77.9516 251.484 77.045 247.948 77.045H234.756V97.037ZM396.071 54.741L363.023 150.621H328.887L295.703 54.741H324.263L346.023 123.965L367.647 54.741H396.071ZM435.792 54.741V150.621H409.136V54.741H435.792ZM452.468 102.477C452.468 93.0476 454.417 84.661 458.316 77.317C462.305 69.8823 467.927 64.125 475.18 60.045C482.433 55.8743 490.775 53.789 500.204 53.789C512.172 53.789 522.236 57.0076 530.396 63.445C538.556 69.7916 543.815 78.4503 546.172 89.421H517.476C515.753 85.7943 513.351 83.029 510.268 81.125C507.276 79.221 503.785 78.269 499.796 78.269C493.631 78.269 488.689 80.4903 484.972 84.933C481.345 89.285 479.532 95.133 479.532 102.477C479.532 109.912 481.345 115.85 484.972 120.293C488.689 124.645 493.631 126.821 499.796 126.821C503.785 126.821 507.276 125.869 510.268 123.965C513.351 122.061 515.753 119.296 517.476 115.669H546.172C543.815 126.64 538.556 135.344 530.396 141.781C522.236 148.128 512.172 151.301 500.204 151.301C490.775 151.301 482.433 149.261 475.18 145.181C467.927 141.01 462.305 135.253 458.316 127.909C454.417 120.474 452.468 111.997 452.468 102.477ZM590.21 76.093V91.733H620.81V111.997H590.21V129.269H624.89V150.621H563.554V54.741H624.89V76.093H590.21ZM678.998 151.573C667.846 151.573 658.689 148.944 651.526 143.685C644.364 138.336 640.51 130.72 639.966 120.837H668.39C668.662 124.192 669.66 126.64 671.382 128.181C673.105 129.722 675.326 130.493 678.046 130.493C680.494 130.493 682.489 129.904 684.03 128.725C685.662 127.456 686.478 125.733 686.478 123.557C686.478 120.746 685.164 118.57 682.534 117.029C679.905 115.488 675.644 113.765 669.75 111.861C663.494 109.776 658.417 107.781 654.518 105.877C650.71 103.882 647.356 101.026 644.454 97.309C641.644 93.501 640.238 88.5596 640.238 82.485C640.238 76.3196 641.78 71.061 644.862 66.709C647.945 62.2663 652.206 58.9116 657.646 56.645C663.086 54.3783 669.252 53.245 676.142 53.245C687.294 53.245 696.18 55.8743 702.798 61.133C709.508 66.301 713.089 73.5996 713.542 83.029H684.574C684.484 80.1276 683.577 77.9516 681.854 76.501C680.222 75.0503 678.092 74.325 675.462 74.325C673.468 74.325 671.836 74.9143 670.566 76.093C669.297 77.2716 668.662 78.949 668.662 81.125C668.662 82.9383 669.342 84.525 670.702 85.885C672.153 87.1543 673.921 88.2876 676.006 89.285C678.092 90.1916 681.174 91.3703 685.254 92.821C691.329 94.9063 696.316 96.9916 700.214 99.077C704.204 101.072 707.604 103.928 710.414 107.645C713.316 111.272 714.766 115.896 714.766 121.517C714.766 127.229 713.316 132.352 710.414 136.885C707.604 141.418 703.478 145 698.038 147.629C692.689 150.258 686.342 151.573 678.998 151.573Z" fill="white"/>
            <defs>
            <linearGradient id="paint0_linear" x1="385.201" y1="61.962" x2="385.201" y2="148.888" gradientUnits="userSpaceOnUse">
            <stop stop-color="#D59FFF"/>
            <stop offset="1" stop-color="#00759A"/>
            </linearGradient>
            </defs>
          </svg>
        </div>
        <div class="service-web">
          <div class="web-desc hover">
            <h2 class="services-header">WEB & APP DEVELOPMENT</h2>
            <p>
              Do you have a existing business that you'd like to take online? <br><br>
              Do you have an idea that you've always wanted to try but always hit a wall when it comes to the tech? <br><br>
              I can help by designing and building, a fully functioning web application that will look great on both laptops and mobiles. <br><br>
              <span style="font-size: 12px">( P.S Click, drag and spin the 3D images)</span>
            </p>
          </div>
          <div id="container">
            <iframe src='https://my.spline.design/appdevelopment-89c6c2fdb3dc6ab536cab691127e7ee1/' frameborder='0' width='100%' height='100%'></iframe>          
          </div>
        </div>

        <div class="service-design">
          <div class="design-desc">
            <div id="containertwo">
              <%# <iframe src='https://my.spline.design/webdesign50-ce8aca11ddf555a3b14795043b21ee0b/' frameborder='0' width='100%' height='100%'></iframe> %>
              <%# <iframe src='https://my.spline.design/sketchbookecommerce-acf8153f8ac777faf8a9a335e14a457e/' frameborder='0' width='100%' height='100%'></iframe> %>
              <%# <iframe src='https://my.spline.design/webtest-b7b0ec9045a4159a8a272d5d86269bd5/' frameborder='0' width='100%' height='100%'></iframe> %>
              <iframe src='https://my.spline.design/webtest-b7b0ec9045a4159a8a272d5d86269bd5/' frameborder='0' width='100%' height='100%'></iframe>
            </div>

            <div class="web-design-content hover">
              <h2 class="services-header">WEB DESIGN</h2>
              <p>
                Does your current website look outdated and is need of a refresh <br><br>
                Do you have an early stage idea thay you'd like to get test out with some users? <br><br>
                I'll create beautiful, custom, user friendly mockups that will convert your site visitors into customer. 
              </p>
            </div>
          </div>
        </div>

         <div class="service-web">
          <div class="web-desc learn-select hover">
            <h2 class="services-header">LEARN TO CODE</h2>
            <p>
              "The best time to plant a tree was 10 years ago. The second best time is now." <br><br>
              I'm currently teaching at Le Wagon, the world's #1 bootcamp. If you're bored of online courses, I can take you from "Hello World" to building your first full stack application in a few months. 
            </p>
          </div>
          <div id="container" >
            <iframe src='https://my.spline.design/code-3cd99eaac15a756729a780e9a354798e/' frameborder='0' width='100%' height='100%'></iframe>
          </div>
        </div>
      </div>

      <div class="section-six" id="aboutme" >
        <div class="about-header">
          <svg width="762" height="152" viewBox="0 0 762 152" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M83.6974 134.981H49.6974L44.5294 150.621H16.5134L51.4654 54.741H82.2014L117.017 150.621H88.8654L83.6974 134.981ZM77.0334 114.581L66.6974 83.573L56.4974 114.581H77.0334ZM191.665 101.389C197.287 102.658 201.729 105.469 204.993 109.821C208.348 114.082 210.025 118.978 210.025 124.509C210.025 132.669 207.215 139.061 201.593 143.685C195.972 148.309 188.084 150.621 177.929 150.621H130.465V54.741H176.433C186.225 54.741 193.887 56.917 199.417 61.269C205.039 65.621 207.849 71.741 207.849 79.629C207.849 85.2503 206.353 89.965 203.361 93.773C200.46 97.4903 196.561 100.029 191.665 101.389ZM157.121 92.821H170.585C177.295 92.821 180.649 90.0556 180.649 84.525C180.649 78.813 177.295 75.957 170.585 75.957H157.121V92.821ZM172.625 129.133C179.335 129.133 182.689 126.322 182.689 120.701C182.689 117.8 181.783 115.578 179.969 114.037C178.247 112.496 175.753 111.725 172.489 111.725H157.121V129.133H172.625ZM272.436 151.573C263.46 151.573 255.209 149.488 247.684 145.317C240.158 141.056 234.174 135.208 229.732 127.773C225.38 120.248 223.204 111.77 223.204 102.341C223.204 92.9116 225.38 84.4796 229.732 77.045C234.174 69.5196 240.158 63.6716 247.684 59.501C255.209 55.3303 263.46 53.245 272.436 53.245C281.502 53.245 289.753 55.3303 297.188 59.501C304.713 63.6716 310.652 69.5196 315.004 77.045C319.356 84.4796 321.532 92.9116 321.532 102.341C321.532 111.77 319.356 120.248 315.004 127.773C310.652 135.208 304.713 141.056 297.188 145.317C289.662 149.488 281.412 151.573 272.436 151.573ZM272.436 126.821C279.236 126.821 284.585 124.6 288.484 120.157C292.473 115.714 294.468 109.776 294.468 102.341C294.468 94.725 292.473 88.741 288.484 84.389C284.585 79.9463 279.236 77.725 272.436 77.725C265.545 77.725 260.15 79.9463 256.252 84.389C252.353 88.741 250.404 94.725 250.404 102.341C250.404 109.866 252.353 115.85 256.252 120.293C260.15 124.645 265.545 126.821 272.436 126.821ZM364.387 54.741V110.365C364.387 115.533 365.565 119.522 367.923 122.333C370.371 125.144 374.043 126.549 378.939 126.549C383.835 126.549 387.507 125.144 389.955 122.333C392.493 119.432 393.763 115.442 393.763 110.365V54.741H420.419V110.365C420.419 119.16 418.56 126.685 414.843 132.941C411.125 139.106 406.048 143.776 399.611 146.949C393.264 150.032 386.192 151.573 378.395 151.573C370.597 151.573 363.616 150.032 357.451 146.949C351.376 143.776 346.571 139.106 343.035 132.941C339.589 126.776 337.867 119.25 337.867 110.365V54.741H364.387ZM512.071 54.741V75.957H486.503V150.621H459.847V75.957H434.551V54.741H512.071ZM669.412 54.741V150.621H642.756V97.717L624.668 150.621H602.364L584.14 97.309V150.621H557.484V54.741H589.716L613.788 117.029L637.316 54.741H669.412ZM716.002 76.093V91.733H746.602V111.997H716.002V129.269H750.682V150.621H689.346V54.741H750.682V76.093H716.002Z" fill="url(#paint0_linear)"/>
            <path d="M73.6974 134.981H39.6974L34.5294 150.621H6.51338L41.4654 54.741H72.2014L107.017 150.621H78.8654L73.6974 134.981ZM67.0334 114.581L56.6974 83.573L46.4974 114.581H67.0334ZM181.665 101.389C187.287 102.658 191.729 105.469 194.993 109.821C198.348 114.082 200.025 118.978 200.025 124.509C200.025 132.669 197.215 139.061 191.593 143.685C185.972 148.309 178.084 150.621 167.929 150.621H120.465V54.741H166.433C176.225 54.741 183.887 56.917 189.417 61.269C195.039 65.621 197.849 71.741 197.849 79.629C197.849 85.2503 196.353 89.965 193.361 93.773C190.46 97.4903 186.561 100.029 181.665 101.389ZM147.121 92.821H160.585C167.295 92.821 170.649 90.0556 170.649 84.525C170.649 78.813 167.295 75.957 160.585 75.957H147.121V92.821ZM162.625 129.133C169.335 129.133 172.689 126.322 172.689 120.701C172.689 117.8 171.783 115.578 169.969 114.037C168.247 112.496 165.753 111.725 162.489 111.725H147.121V129.133H162.625ZM262.436 151.573C253.46 151.573 245.209 149.488 237.684 145.317C230.158 141.056 224.174 135.208 219.732 127.773C215.38 120.248 213.204 111.77 213.204 102.341C213.204 92.9116 215.38 84.4796 219.732 77.045C224.174 69.5196 230.158 63.6716 237.684 59.501C245.209 55.3303 253.46 53.245 262.436 53.245C271.502 53.245 279.753 55.3303 287.188 59.501C294.713 63.6716 300.652 69.5196 305.004 77.045C309.356 84.4796 311.532 92.9116 311.532 102.341C311.532 111.77 309.356 120.248 305.004 127.773C300.652 135.208 294.713 141.056 287.188 145.317C279.662 149.488 271.412 151.573 262.436 151.573ZM262.436 126.821C269.236 126.821 274.585 124.6 278.484 120.157C282.473 115.714 284.468 109.776 284.468 102.341C284.468 94.725 282.473 88.741 278.484 84.389C274.585 79.9463 269.236 77.725 262.436 77.725C255.545 77.725 250.15 79.9463 246.252 84.389C242.353 88.741 240.404 94.725 240.404 102.341C240.404 109.866 242.353 115.85 246.252 120.293C250.15 124.645 255.545 126.821 262.436 126.821ZM354.387 54.741V110.365C354.387 115.533 355.565 119.522 357.923 122.333C360.371 125.144 364.043 126.549 368.939 126.549C373.835 126.549 377.507 125.144 379.955 122.333C382.493 119.432 383.763 115.442 383.763 110.365V54.741H410.419V110.365C410.419 119.16 408.56 126.685 404.843 132.941C401.125 139.106 396.048 143.776 389.611 146.949C383.264 150.032 376.192 151.573 368.395 151.573C360.597 151.573 353.616 150.032 347.451 146.949C341.376 143.776 336.571 139.106 333.035 132.941C329.589 126.776 327.867 119.25 327.867 110.365V54.741H354.387ZM502.071 54.741V75.957H476.503V150.621H449.847V75.957H424.551V54.741H502.071ZM659.412 54.741V150.621H632.756V97.717L614.668 150.621H592.364L574.14 97.309V150.621H547.484V54.741H579.716L603.788 117.029L627.316 54.741H659.412ZM706.002 76.093V91.733H736.602V111.997H706.002V129.269H740.682V150.621H679.346V54.741H740.682V76.093H706.002Z" fill="white"/>
            <defs>
            <linearGradient id="paint0_linear" x1="385.201" y1="61.962" x2="385.201" y2="148.888" gradientUnits="userSpaceOnUse">
            <stop stop-color="#D59FFF"/>
            <stop offset="1" stop-color="#00759A"/>
            </linearGradient>
            </defs>
          </svg>
        </div>

        <div class="about-content">
          <div class="about-img">
            <div class="image-wrapper ">
              <%= cl_image_tag("personal-profile/aboutmeimg.png", class:"profile-photo") %>
              <%= cl_image_tag("personal-profile/aboutmewink.png", class:"profile-photo hidden") %>
            </div>
          </div>
          <div class="about-desc">
            <div class="biography">
              <p>
                <span style="text-align:center; display: inherit;">TL;DR click the download button below</span><br>
                I grew up in London before moving to Uni of Nottingham to get my Masters in Maths. I started coding with Matlab to solve higher order differential equations (you're envious, I know). <br><br>
                Following graduation in 2014, I joined AB Inbev on their graduate programme and spent the next 6 years there living and working in France, Italy, Belgium and Spain.  <br><br>
                I've always been passionate about technology so when COVID hit during the middle of my sabattical, I thought it was the perfect opportunity to learn to code and so
                I joined Le Wagon. <br><br> I quickly fell in ❤️ with it and decided to pivot my career as a Full Stack Developer.    
              </p>
            </div>
            <div class="button-cv" id="contact-nav">
              <%= link_to "DOWNLOAD CV", "MeehirPatelResume.pdf", download: "", class:"download"  %>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="footer-holder"id="revealed-section-placeholder"></div>
<div class="footer" id="revealed-section">
  <div class="footer-contact">
    <div class="start-project">
      <h2 id="header-footer" class="mb-3">Want to have a chat?</h2>
      <div class="subhead-box">
        <h2 id="subhead-footer">Get in touch</h2>
        <svg width="50" height="45" viewBox="0 0 50 45" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12.2269 0.368774H1.62486C0.337864 0.368774 -0.429136 1.80277 0.284864 2.87277L12.4939 21.1858C12.8539 21.7268 12.8539 22.4318 12.4939 22.9728L0.284864 41.2868C-0.429136 42.3568 0.337864 43.7908 1.62486 43.7908H12.2269C12.7659 43.7908 13.2689 43.5218 13.5669 43.0738L26.9679 22.9728C27.3279 22.4318 27.3279 21.7268 26.9679 21.1858L13.5669 1.08677C13.2689 0.638774 12.7659 0.368774 12.2269 0.368774ZM33.9389 0.368774H23.3359C22.0489 0.368774 21.2819 1.80277 21.9959 2.87277L34.2049 21.1858C34.5649 21.7268 34.5649 22.4318 34.2049 22.9728L21.9959 41.2868C21.2819 42.3568 22.0489 43.7908 23.3359 43.7908H33.9389C34.4769 43.7908 34.9799 43.5218 35.2779 43.0738L48.6789 22.9728C49.0389 22.4318 49.0389 21.7268 48.6789 21.1858L35.2779 1.08677C34.9799 0.638774 34.4769 0.368774 33.9389 0.368774Z" fill="white"/>
        </svg>
      </div>
    </div>
    <div class="contact-form">
      <%= render "shared/contact_form", message: @message %>
    </div>
  </div>
  
  <div class="quick-contact" id="quick-contact">
    <div class="quick-details">
      <%= mail_to "meehir.patel12@gmail.com" do  %>
        <p><span style="font-weight: 700; font-size: 14px">E:</span><span style="color:#ffe5e300; letter-spacing: 2px">...</span>meehir.patel12@gmail.com</p>
      <% end %>
      <p><span style="font-weight: 700; font-size: 14px">T:</span><span style="color:#ffe5e300; letter-spacing: 2px"">...</span>+44 7450 568232</p>
    </div>
    <div class="social-icons">
    <%= link_to "https://www.instagram.com/mimstagramme/", target: :_blank do  %>
      <p><i class="fab fa-instagram"></i></p>
    <% end %>
    <%= link_to "https://www.github.com/Mim1991/", target: :_blank do  %>
      <p><i class="fab fa-github"></i></p>
    <% end %>
    <%= link_to "https://www.linkedin.com/in/mims-patel/", target: :_blank do  %>
      <p ><i class="fab fa-linkedin"></i></p>
    <% end %>
  </div>
  </div>
</div>
