<!DOCTYPE html>
<html>
  <head>
    <title>Meehir Patel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="https://www.flaticon.com/svg/vstatic/svg/1165/1165817.svg?token=exp=1612572733~hmac=2767917eae2a32ed7bfbe99a789ed21a"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
